/*---------Home Page-2------------*/ 
.features-area {
    &.home-2{
        padding: 100px 0;
        margin-top: 0;
        @include all-below-med{
            padding: 60px 0 50px;
        }
        .section-title {
            h2 {
                margin-bottom: 60px;
                @include all-below-med{
                    margin-bottom: 25px;
                }
            }
        }
        .single-feature-item{
            @extend %basetransition1;
            @extend %default-box-shadow-2;
            &:hover{
                @extend %default-box-shadow-hover-2;
            }
        }
    }
}

// brand-area
.brand-area{
    .clients-logo{
        border-top: 0;
        border-bottom: 1px solid #F0F0F0;
    }
}

// .about-area
.about-area{
    &.home-2{
        @extend %backgroundimage;
        padding: 115px 0 110px;
        @include all-below-med{
            padding: 70px 0 60px;
        }
        .about-image {
            margin-right: 0;
            @include mx-extra-large-desktops{
                margin-right: -140px;
            }
            @include mx-large-desktops{
                margin-right: -35px;
            }
        }
        .about-content{
            padding-left: 0;
        }
    }
}
// accordion-wrap
.accordion-wrap{
    .single-accordion {
        @extend %white-bg-color;
        @extend %borderradius5;
        @extend %posrelative;
        margin-bottom: 10px;
        @extend %default-box-shadow-2;
        &:after {
            @extend %posabsolute;
            left: 25px;
            top: 23px;
            font-family: fontawesome;
            content: "\f067";
            width: 35px;
            height: 35px;
            @extend %primary-bg-color;
            @extend %white-color;
            @extend %textcenter;
            @extend %borderradius50;
            line-height: 37px;
            font-size: 14px;
            padding-left: 2px;
            @include mx-desktops{
                left: 15px;
                top: 14px;
            }
        }
        &.active:after {
            content: "\f068";
        }
        .accordion-header {
            .btn {
                padding: 24px 25px 24px 70px;
                @extend %secondary-color;
                font-weight: 700;
                font-size: 20px;
                @extend %posrelative;
                @include mx-desktops{
                    padding: 15px 20px 15px 60px;
                }
                &:focus, &:hover {
                    box-shadow: none;
                    text-decoration: none;
                }
            }
        }
        .accordion-body {
            padding: 0px 25px 25px;
            @include mx-desktops{
                padding: 5px 18px 20px;
            }
        }
    }
}

// .services-area
.services-area {
    &.home-2 {
        @extend %white-bg-color;
        .section-title {
            h2{
                color: #0a1f44;;
            }
            h4{
                @extend %primary-color;
            }
        }
    }
}

// .portfolio-area
.portfolio-area {
    &.home-2{
        @extend %primary-bg-color;
        .section-title {
            h4, h2{
                @extend %white-color;
            }
        }
        .portfolio-gallery {
            .single-portfolio-item {
                .portfolio-inner{
                    box-shadow: none;
                    border-radius: 0;
                    img{
                        border-radius: 0;
                    }
                }
                &:hover{
                    .portfolio-inner {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// .team-area
.team-area{
    .section-title {
        h2 {
            margin-bottom: 60px;
            @include all-below-med{
                margin-bottom: 25px;
            }
        }
    }
    .single-team-item{
        @extend %default-box-shadow-2;
        @extend %basetransition1;
        border: 1px solid #F0F0F0;
        margin-bottom: 30px;
        &:hover{
            @extend %default-box-shadow-hover-2;
        }
        img {
            margin-bottom: 20px;
            @extend %borderradius50percent;
        }
        h4 {
            font-size: 20px;
            margin: 0 0 10px;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            @extend %body-color;
            margin: 0;
        }
        .member-content {
            padding: 30px 20px 0 20px;
        }
        .member-social-info {
            padding: 7px 0;
            border-top: 1px solid #F0F0F0;
            margin-top: 18px;
            a {
                font-size: 16px;
                padding: 5px 6px;
            }
        }
    }
}

// pricing-plan-area
.pricing-plan-area{
    .section-title {
        h2 {
            margin-bottom: 50px;
            @include all-below-med{
                margin-bottom: 25px;
            }
        }
    }
    .single-pricing-plan{
        @extend %default-box-shadow;
        @extend %basetransition1;
        @extend %white-bg-color;
        margin-bottom: 20px;
        @extend %borderradius5;
        &:hover{
            @extend %default-box-shadow-hover;
        }
        .pricing-header {
            padding: 31px 40px;
            h3 {
                margin: 0;
                font-size: 24px;
            }
        }
        .pricing-tag {
            @extend %primary-bg-color;
            @extend %white-color;
            padding: 36px 40px;
            .price-tag {
                font-size: 36px;
                @extend %displayblock;
                font-weight: 700;
            }
        }
        .pricing-content {
            padding: 40px 40px;
            .boxed-btn {
                margin-top: 30px;
            }
            ul {
                li {
                    @extend %body-color;
                    @extend %posrelative;
                    padding-left: 25px;
                    margin-bottom: 15px;
                    i {
                        width: 15px;
                        height: 15px;
                        background: #DBDBDB;
                        font-size: 10px;
                        @extend %textcenter;
                        @extend %borderradius50;
                        line-height: 15px;
                        @extend %posabsolute;
                        left: 0;
                        top: 4px;
                        padding-left: 1px;
                        @extend %white-color;
                    }
                    &.active i {
                        @extend %primary-bg-color;
                    }
                }
            }
        }
    }
}

// map-area
.map-area{
    .map{
        height: 600px;
        @include all-below-med{
            height: 400px;
        }
        @include all-below-mobile-lg{
            height: 350px;
        }
    }
    @extend %section-bg-color;
    .map-content-wrap {
        @extend %posabsolute;
        left: 0;
        bottom: 30px;
        width: 100%;
        @include all-below-med{
           position: relative;
           bottom: 0;
           background-color: #fff;
        }
        .map-content {
            @extend %white-bg-color;
            padding: 40px;
            @extend %borderradius5;
            @extend %default-box-shadow-2;
            @include all-below-med{
                padding: 40px 0px 20px 0px;
            }
            .single-map-content{
                padding-right: 40px;
                @include mx-desktops{
                    padding-right: 20px;
                }
                @include all-below-med{
                    flex-basis: 50%;
                    margin-bottom: 30px;
                }
                @include mx-mobile-lg{
                    padding-right: 30px;
                }
                @include all-mx-mobile{
                    padding-right: 0px;
                    text-align: center;
                }
                &:last-child {
                    padding-right: 0;
                }
                .icon {
                    height: 40px;
                    @extend %displayblock;
                    margin-bottom: 15px;
                    i {
                        @extend %primary-color;
                        font-size: 35px;
                        &.fa-mobile {
                            font-size: 40px;
                        }
                        &.fa-envelope-o {
                            font-size: 30px;
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                }
                a{
                    @extend %body-color;
                    &:hover{
                        @extend %primary-color;
                    }
                }
                &.text {
                    width: 350px;
                    @include mx-mobile-lg{
                        flex-basis: 50%;
                    }
                    @include all-mx-mobile{
                        flex-basis: 100%;
                    }
                    h4 {
                        font-size: 16px;
                        font-weight: 400;
                        @extend %uppercase;
                        margin: 0 0 10px;
                    }
                    h3 {
                        font-size: 24px;
                    }
                }
                &.address {
                    width: 290px;
                    @include mx-mobile-lg{
                        flex-basis: 50%;
                        padding-right: 0;
                    }
                    @include all-mx-mobile{
                        flex-basis: 100%;
                    }
                }
                &.phone-number {
                    width: 200px;
                    @include mx-mobile-lg{
                        flex-basis: 50%;
                    }
                    @include all-mx-mobile{
                        flex-basis: 100%;
                    }
                    a{
                        @extend %displayblock;
                    }
                }
                &.email-address {
                    width: 190px;
                    @include mx-mobile-lg{
                        flex-basis: 50%;
                    }
                    @include all-mx-mobile{
                        flex-basis: 100%;
                    }
                    a{
                        @extend %displayblock;
                    }
                }
            }
        }
    }
}