/*================Home Page CSS===============*/
// .hero-area
.hero-area, .hero-area .row {
    height: 700px;
}
.hero-area{
    background-position: center;
    background-size: cover;
    .hero-content {
        color: #555555;
        padding-right: 60px;
        h3 {
            color: #0a1f44;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 50px;
            color: #0a1f44;
            span {
                color: #e8505b;
            }
        }
        .boxed-btn {
            margin-top: 30px;
        }
    }
}

// .features-area
.features-area {
    padding: 0 0 50px;
    margin-top: -40px;
    .single-feature-item {
        padding: 50px 40px 25px 40px;
        box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.25);
        height: 100%;
        border-radius: 5px;
        background: #fff;
        transition: .5s;
        &:hover {
            box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.25);
        }
        h3 {
            font-size: 20px;
            margin-bottom: 25px;
        }
        .feature-icon {
            height: 90px;
            width: 90px;
            background: #E8505B;
            display: block;
            border-radius: 50px;
            text-align: center;
            line-height: 87px;
            color: #fff;
            margin-bottom: 35px;
            i {
                font-size: 40px;
                line-height: 95px;
            }
        }
    }
}

// .about-area 
.about-area {
    padding: 60px 0 100px;
    .section-title {
        h2{
            margin-bottom: 20px;
        }
    }
    .about-content {
        padding-left: 40px;
        .single-about-item {
            padding-left: 70px;
            margin-top: 30px;
            h4 {
                font-size: 18px;
                margin-bottom: 8px;
            }
            i {
                position: absolute;
                left: 0;
                top: 0;
                width: 50px;
                height: 50px;
                background: #E8505B;
                color: #fff;
                border-radius: 50px;
                text-align: center;
                line-height: 51px;
                font-size: 25px;
                padding-left: 4px;
            }
        }
    }
}

// .services-area
.services-area {
    background: #E8505B;
    padding: 116px 0 100px;
    .section-title {
        h4 {
            color: #fff;
        }
        h2 {
            color: #fff;
        }
    }
    .services-content{
        padding-left: 5px;
        padding-right: 5px;
        .col-lg-6{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .single-service-item {
        transition: .5s;
        background: #fff;
        padding: 45px 30px 40px 160px;
        border-radius: 5px;
        margin-bottom: 20px;
        .service-icon {
            position: absolute;
            left: 40px;
            top: 50px;
            width: 100px;
            height: 100px;
            background: #E8505B;
            display: block;
            border-radius: 50px;
            text-align: center;
            line-height: 97px;
            i {
                color: #fff;
                font-size: 35px;
                line-height: 100px;
            }
        }
        &:hover{
            .service-icon {
                background: #0b185f;
            }
        }
    }
}

