/*================Home Page CSS===============*/
// .hero-area
.hero-area, .hero-area .row {
    height: 700px;
}
.hero-area{
    @extend %backgroundimage;
    .hero-content {
        padding-right: 60px;
        h3 {
            color: #0a1f44;
            font-size: 24px;
            @extend %uppercase;
            font-weight: 100;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 50px;
            color: #0a1f44;
            span {
                @extend %primary-color;
            }
        }
        .boxed-btn {
            margin-top: 30px;
        }
    }
}

// single-box
.single-box{
    box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.25);
    padding: 42px 40px 25px 40px;
    height: 100%;
    @extend %borderradius5;
    @extend %white-bg-color;
    @extend %basetransition2;
    &:hover {
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
    }
    h3 {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .box-icon {
        height: 90px;
        width: 90px;
        line-height: 87px;
        @extend %primary-bg-color;
        @extend %displayblock;
        @extend %borderradius50;
        @extend %textcenter;
        @extend %white-color;
        @extend %posrelative;
        left: 0;
        top: 0;
        i {
            font-size: 40px;
            line-height: 100px;
        }
    }
    &.wide-box{
        padding: 40px 30px 40px 150px;
        @extend %borderradius5;
        .box-icon {
            @extend %posabsolute;
            left: 45px;
            top: 50%;
            transform: translate(0px, -50%);
            i {
                @extend %white-color;
            }
        }
    }
}

// .features-area
.features-area {
    padding: 0 0 50px;
    margin-top: -40px;
}

// .about-area 
.about-area {
    padding: 60px 0 120px;
    .section-title {
        h2{
            margin-bottom: 20px;
        }
    }
    .about-content {
        padding-left: 40px;
        .single-about-item {
            padding-left: 70px;
            margin-top: 30px;
            h4 {
                font-size: 18px;
                margin-bottom: 8px;
            }
            i {
                @extend %posabsolute;
                left: 0;
                top: 0;
                width: 50px;
                height: 50px;
                @extend %primary-bg-color;
                @extend %white-color;
                @extend %borderradius50;
                @extend %textcenter;
                line-height: 51px;
                font-size: 25px;
                padding-left: 4px;
            }
        }
    }
}

// .services-area
.services-area {
    @extend %primary-bg-color;
    .section-title {
        h4 {
            @extend %white-color;
        }
        h2 {
            @extend %white-color;
            margin-bottom: 60px;
        }
    }
    &.home-1{
        .single-service-item {
            box-shadow: none;
        }
    }
}
// .less-padding-content
.less-padding-content{
    padding-left: 5px;
    padding-right: 5px;
    .col-lg-6, .col-lg-4{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

// .portfolio-area
.portfolio-area {
    // .portfolio-filter
    .portfolio-filter {
        margin-bottom: 40px;
        button {
            margin: 0 4px;
            color: #00394f;
            font-size: 14px;
            font-weight: 700;
            padding: 19px 70px 19px 25px;
            box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
            border: 0;
            @extend %displayinline;
            @extend %uppercase;
            @extend %white-bg-color;
            @extend %borderradius5;
            @extend %posrelative;
            &.is-checked{
                @extend %primary-color;
                .filter-count{
                    @extend %primary-bg-color;
                    @extend %white-color;
                }
            }
            .filter-count{
                width: 35px;
                height: 35px;
                right: 20px;
                top: 10px;
                line-height: 35px;
                @extend %borderradius50;
                @extend %posabsolute;
                @extend %textcenter;
                @extend %section-bg-color;
            }
        }
    }
    // .portfolio-gallery 
    .portfolio-gallery {
        margin-right: -15px;
        margin-left: -15px;
        .single-portfolio-item {
            width: 33.3333%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
            .portfolio-inner{
                border-radius: 5px 5px 0 0;
                box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
                @extend %white-bg-color;
                @extend %basetransition2;
                // .image-wrap
                .image-wrap {
                    z-index: 2;
                    img{
                        border-radius: 5px 5px 0 0;
                    }
                    &:after {
                        @extend %pseudo;
                        left: 50%;
                        top: 50%;
                        width: 95%;
                        height: 95%;
                        @extend %white-bg-color;
                        z-index: 1;
                        @extend %invisible;
                        @extend %basetransition2;
                        transform: translate(-50%, -50%);
                    }
                    .portfolio-hover {
                        @extend %posabsolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        @extend %textcenter;
                        transform: translate(0px, -50%);
                        z-index: 3;
                        @extend %invisible;
                        @extend %basetransition2;
                        a {
                            width: 50px;
                            height: 50px;
                            @extend %primary-bg-color;
                            @extend %displayinline;
                            @extend %white-color;
                            @extend %borderradius50;
                            font-size: 20px;
                            margin: 0 4px;
                            line-height: 50px;
                            @extend %basetransition2;
                            &:hover {
                                @extend %secondary-bg-color;
                            }
                        }
                    }
                }
                // .portfolio-content
                .portfolio-content {
                    padding: 26px 15px;
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    a{
                        color: #0a1f44;
                    }
                }
            }
            &:hover {
                .portfolio-inner {
                    @extend %borderzero;
                    box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5);
                    
                    .portfolio-hover {
                        @extend %visible;
                    }
                    .image-wrap{
                        img{
                            @extend %borderzero;
                        }
                        &:after {
                            opacity: .9;
                            visibility: visible;
                        }
                    }
                    .portfolio-content {
                        a{
                            @extend %primary-color;
                        }
                    }
                }
            }
        }
    } 
}

// .contact-area
.contact-area {
    @extend %backgroundimage;
    .form-wrap{
        padding-left: 80px;
    }
}

// .testimonial-area
.testimonial-area {
    padding: 115px 0 0;
    @extend %primary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    .testimonials-row {
        padding-bottom: 100px;
    }
    .section-title {
        h4 {
            @extend %white-color;
        }
        h2 {
            @extend %white-color;
        }
    }
    .single-testimonial-item {
        @extend %white-bg-color;
        .testimonial-header {
            padding: 20px 30px;
            border-bottom: 1px solid #F0F0F0;
            .reviewer-photo {
                @extend %posabsolute;
                left: 0;
                top: 0;
                img {
                    max-width: 60px;
                }
            }
            .left {
                padding-left: 70px;
                h3 {
                    font-size: 18px;
                    margin: 7px 0 7px 0px;
                }
                h4 {
                    @extend %body-color;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
        .testimonial-content {
            padding: 34px 30px 35px 30px;
        }
    }
}

// .clients-logo
.clients-logo {
    padding: 55px 0;
    border-top: 1px solid #E76F7A;
    .single-logo {
        padding-right: 40px;
        &:last-child {
            padding-right: 0;
        }
    }
}

// .blog-area
.blog-area {
    .section-title h2 {
        margin-bottom: 60px;
    }
    .single-blog-item {
        border-radius: 5px 5px 0 0;
        @extend %white-bg-color;
        box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
        margin-bottom: 50px;
        @extend %basetransition2;
        &:hover {
            box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5);
        }
        img {
            border-radius: 5px 5px 0 0;
        }
        .blog-content {
            padding: 30px 25px 20px 26px;
            h3 {
                font-size: 20px;
                line-height: 1.5;
            }
            .blog-meta {
                color: #888888;
                margin-bottom: 10px;
                span {
                    margin-right: 20px;
                }
            }
        }
        .blog-footer {
            padding: 7px 30px;
            border-top: 1px solid #F7F7F7;
            .blog-comments {
                margin-top: 10px;
                font-size: 20px;
                color: #B2B2B2;
                .comments-number {
                    @extend %posabsolute;
                    left: 2px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    @extend %primary-bg-color;
                    @extend %white-color;
                    font-size: 13px;
                    @extend %textcenter;
                    @extend %borderradius50;
                    line-height: 16px;
                }
            }
        }
    }
}


