/*================Home Page CSS===============*/
// .hero-area
.hero-area, .hero-area .row {
    height: 700px;
    @include all-below-med{
        height: 450px;
    }
    @include all-below-mobile-lg{
        height: 400px;
    }
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-duration: .9s;
}
.hero-area{
    @include all-below-mobile-lg{
        position: relative;
        z-index: 2;
        color: #fff;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #333;
            content: "";
            z-index: -1;
            opacity: .4;
        }
    }
    [data-aos^=fade][data-aos^=fade].aos-animate {
        transition-duration: .9s;
    }
    @extend %backgroundimage;
    .hero-content {
        padding-right: 60px;
        @include all-below-med{
            width: 400px;
            padding-right: 0
        }
        @include mx-mobile-lg{
            width: 320px;
        }
        @include all-mx-mobile{
            width: 100%;
        }
        h3 {
            color: #0a1f44;
            font-size: 24px;
            @extend %uppercase;
            font-weight: 100;
            margin-bottom: 10px;
            @include all-below-med{
                font-size: 22px;
            }
            @include all-below-mobile-lg{
                font-size: 18px;
                margin-bottom: 5px;
                color: #fff;
                font-weight: 300;
            }
        }
        h2 {
            font-size: 50px;
            color: #0a1f44;
            @include mx-desktops{
                font-size: 44px;
            }
            @include all-below-med{
                font-size: 36px;
            }
            @include all-below-mobile-lg{
                font-size: 30px;
            }
            span {
                @extend %primary-color;
            }
        }
        .boxed-btn {
            margin-top: 30px;
            @include all-below-med{
                margin-top: 15px;
            }
            @include all-below-mobile-lg{
                margin-top: 5px;
            }
        }
    }
}

// single-box
.single-box{
    @extend %default-box-shadow;
    padding: 42px 40px 25px 40px;
    margin-bottom: 20px;
    @extend %borderradius5;
    @extend %white-bg-color;
    @extend %basetransition1;
    @include mx-desktops{
        padding: 32px 20px 20px 20px;
    }
    @include all-below-med{
        text-align: center;
    }
    @include all-below-mobile-lg{
        padding: 30px 20px 25px 20px;
    }
    &:hover {
        @extend %default-box-shadow-hover;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .box-icon {
        height: 90px;
        width: 90px;
        line-height: 87px;
        margin-bottom: 35px;
        @extend %primary-bg-color;
        @extend %displayblock;
        @extend %borderradius50;
        @extend %textcenter;
        @extend %white-color;
        @extend %posrelative;
        left: 0;
        top: 0;
        @include all-below-med{
            margin: 0 auto;
            margin-bottom: 20px;
        }
        i {
            font-size: 40px;
            line-height: 100px;
        }
    }
    &.wide-box{
        padding: 40px 30px 40px 150px;
        @extend %borderradius5;
        @extend %posrelative;
        @include mx-desktops{
            padding: 30px 30px 30px 140px;
        }
        @include all-below-med{
            text-align: left;
        }
        @include all-below-mobile-lg{
            padding: 30px 20px 30px 130px;
        }
        @include all-mx-mobile {
            padding: 30px 20px 30px 20px;
            text-align: center;
        }
        .box-icon {
            margin-bottom: 0;
            @extend %posabsolute;
            left: 40px;
            top: 50%;
            transform: translate(0px, -50%);
            @include mx-desktops{
                left: 30px;
            }
            @include mx-mobile-lg{
                left: 20px;
            }
            @include all-mx-mobile {
                position: relative;
                left: 0;
                top: 0;
                transform: translate(0px, 0px);
                margin-bottom: 20px;
            }
            i {
                @extend %white-color;
            }
        }
    }
}

// .features-area
.features-area {
    padding: 0 0 30px;
    margin-top: -40px;
    @include all-below-med{
        margin-top: 50px;
        padding: 0 0 20px;
    }
}

// .about-area 
.about-area {
    padding: 60px 0 120px;
    @include all-below-med{
        padding: 30px 0 60px;
    }
    .section-title {
        h2{
            margin-bottom: 20px;
        }
    }
    .about-image{
        @include all-below-med{
            margin-bottom: 30px;
            text-align: center;
        }
    }
    .about-content {
        padding-left: 40px;
        @include mx-desktops{
            padding-left: 20px;
        }
        @include all-below-med{
            padding-left: 0px;
        }
        .single-about-item {
            padding-left: 70px;
            margin-top: 30px;
            h4 {
                font-size: 18px;
                margin-bottom: 8px;
            }
            i {
                @extend %posabsolute;
                left: 0;
                top: 0;
                width: 50px;
                height: 50px;
                @extend %primary-bg-color;
                @extend %white-color;
                @extend %borderradius50;
                @extend %textcenter;
                line-height: 51px;
                font-size: 25px;
                padding-left: 4px;
            }
        }
    }
}

// .services-area
.services-area {
    @extend %primary-bg-color;
    .section-title {
        h4 {
            @extend %white-color;
        }
        h2 {
            @extend %white-color;
            margin-bottom: 60px;
            @include all-below-med{
                margin-bottom: 20px;
            }
        }
    }
    &.home-1{
        .single-service-item {
            box-shadow: none;
        }
    }
}
// .less-padding-content
.less-padding-content{
    padding-left: 5px;
    padding-right: 5px;
    .col-lg-6, .col-lg-4{
        padding-left: 10px;
        padding-right: 10px;
    }
}

// .portfolio-area
.portfolio-area {
    // .portfolio-filter
    .portfolio-filter {
        margin-bottom: 40px;
        @include all-below-mobile-lg{
            margin-bottom: 20px;
        }
        button {
            margin: 0 4px;
            color: #00394f;
            font-size: 14px;
            font-weight: 700;
            padding: 19px 70px 19px 25px;
            border: 0;
            @extend %default-box-shadow-2;
            @extend %displayinline;
            @extend %uppercase;
            @extend %white-bg-color;
            @extend %borderradius5;
            @extend %posrelative;
            @include all-below-med{
                padding: 15px 40px 15px 10px;
                margin: 0 2px;
            }
            @include all-below-mobile-lg{
                margin-bottom: 10px;
            }
            &.is-checked{
                @extend %primary-color;
                .filter-count{
                    @extend %primary-bg-color;
                    @extend %white-color;
                }
            }
            .filter-count{
                width: 35px;
                height: 35px;
                right: 20px;
                top: 10px;
                line-height: 35px;
                @extend %borderradius50;
                @extend %posabsolute;
                @extend %textcenter;
                @extend %section-bg-color;
                @include all-below-med{
                    width: 30px;
                    height: 30px;
                    right: 5px;
                    line-height: 32px;
                }
            }
        }
    }
    // .portfolio-gallery 
    .portfolio-gallery {
        margin-right: -15px;
        margin-left: -15px;
        .single-portfolio-item {
            width: 33.3333%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
            @include all-below-med{
                width: 50%;
            }
            @include all-below-mobile-lg{
                width: 100%;
            }
            .portfolio-inner{
                border-radius: 5px 5px 0 0;
                @extend %default-box-shadow;
                @extend %white-bg-color;
                @extend %basetransition1;
                // .image-wrap
                .image-wrap {
                    z-index: 2;
                    img{
                        border-radius: 5px 5px 0 0;
                        @extend %section-bg-color;
                        @extend %w100;
                    }
                    &:after {
                        @extend %pseudo;
                        left: 50%;
                        top: 50%;
                        width: 95%;
                        height: 95%;
                        @extend %white-bg-color;
                        z-index: 1;
                        @extend %invisible;
                        @extend %basetransition1;
                        transform: translate(-50%, -50%);
                    }
                    .portfolio-hover {
                        @extend %posabsolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        @extend %textcenter;
                        transform: translate(0px, -50%);
                        z-index: 3;
                        @extend %invisible;
                        @extend %basetransition1;
                        a {
                            width: 50px;
                            height: 50px;
                            @extend %primary-bg-color;
                            @extend %displayinline;
                            @extend %white-color;
                            @extend %borderradius50;
                            font-size: 20px;
                            margin: 0 4px;
                            line-height: 50px;
                            @extend %basetransition1;
                            &:hover {
                                @extend %secondary-bg-color;
                            }
                        }
                    }
                }
                // .portfolio-content
                .portfolio-content {
                    padding: 26px 15px;
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    a{
                        color: #0a1f44;
                    }
                }
            }
            &:hover {
                .portfolio-inner {
                    @extend %borderzero;
                    @extend %default-box-shadow-hover;
                    .portfolio-hover {
                        @extend %visible;
                    }
                    .image-wrap{
                        img{
                            @extend %borderzero;
                        }
                        &:after {
                            opacity: .9;
                            visibility: visible;
                        }
                    }
                    .portfolio-content {
                        a{
                            @extend %primary-color;
                        }
                    }
                }
            }
        }
    } 
}

// .contact-area
.contact-area {
    @extend %backgroundimage;
    @include all-below-med{
        background-image: none !important;
        background-color: #FAFAFA;
    }
    .form-wrap{
        padding-left: 80px;
        @include all-below-med{
            padding-left: 0;
        }
    }
}

// .testimonial-area
.testimonial-area {
    padding: 115px 0 0;
    @extend %primary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    @include all-below-med{
        padding: 60px 0 0;
    }
    .testimonials-row {
        padding-bottom: 100px;
        @include all-below-med{
            padding-bottom: 30px;
        }
    }
    .section-title {
        h4 {
            @extend %white-color;
        }
        h2 {
            @extend %white-color;
        }
    }
    .single-testimonial-item {
        @extend %white-bg-color;
        @include all-below-med{
            margin-bottom: 20px;
        }
        .testimonial-header {
            padding: 20px 30px;
            border-bottom: 1px solid $border-color;
            .reviewer-photo {
                @extend %posabsolute;
                left: 0;
                top: 0;
                img {
                    max-width: 60px;
                    @extend %borderradius50percent;
                }
            }
            .left {
                padding-left: 70px;
                h3 {
                    font-size: 18px;
                    margin: 7px 0 7px 0px;
                }
                h4 {
                    @extend %body-color;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
        .testimonial-content {
            padding: 34px 30px 35px 30px;
        }
    }
}

// .clients-logo
.clients-logo {
    height: 140px;
    border-top: 1px solid #E76F7A;
    @include all-below-med{
        padding: 40px 0;
    }
    @include all-below-mobile-lg{
        padding: 30px 0;
    }
    .single-logo {
        padding-right: 40px;
        @include all-below-mobile-lg{
            padding: 15px 10px;
            img{
                max-width: 150px;
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

// .blog-area
.blog-area {
    .section-title h2 {
        margin-bottom: 60px;
        @include all-below-med{
            margin-bottom: 25px;
        }
    }
    .single-blog-item {
        border-radius: 5px 5px 0 0;
        @extend %white-bg-color;
        @extend %default-box-shadow;
        margin-bottom: 50px;
        @extend %basetransition1;
        @include all-below-med{
            margin-bottom: 30px;
        }
        &:hover {
            @extend %default-box-shadow-hover;
            .blog-thumb{
                img{
                    transform: scale(1.1);
                    width: 100%;
                }
            }
        }
        .blog-thumb{
            a{
                @extend %displayblock;
            }
        }
        img {
            border-radius: 5px 5px 0 0;
            @extend %w100;
            @extend %basetransition1;
        }
        .blog-content {
            padding: 30px 25px 20px 26px;
            h3 {
                font-size: 20px;
                line-height: 1.5;
            }
            .blog-meta {
                color: #888888;
                margin-bottom: 10px;
                a {
                    margin-right: 20px;
                    @extend %body-color;
                    @extend %basetransition1;
                    @include mx-desktops{
                        margin-right: 10px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        @extend %primary-color;
                    }
                }
            }
        }
        .blog-footer {
            padding: 7px 30px;
            border-top: 1px solid $border-color;
            .blog-comments {
                margin-top: 10px;
                font-size: 20px;
                color: #B2B2B2;
                .comments-number {
                    @extend %posabsolute;
                    left: 2px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    @extend %primary-bg-color;
                    @extend %white-color;
                    font-size: 13px;
                    @extend %textcenter;
                    @extend %borderradius50;
                    line-height: 16px;
                }
            }
        }
    }
}


