/*================Shop Page CSS===============*/
// .bar-content
.bar-content {
    padding: 15px 20px;
    margin-bottom: 30px;
    @extend %default-box-shadow-2;
    h6 {
        font-weight: 400;
        margin: 6px 0 0 0;
    }
    ul{
        &.nav-tabs{
            border: 0;
        }
        li{
            a{
                @extend %secondary-color;
                font-size: 20px;
                margin-left: 8px;
                &.active{
                    @extend %primary-color;
                }
            }
        }
    }
}

// .single-shop-item
.single-shop-item {
    padding: 10px;
    margin-bottom: 30px;
    @extend %basetransition1;
    @extend %default-box-shadow-2;
    &:hover{
        @extend %default-box-shadow-hover-2;
    }
    .product-img {
        @extend %posrelative;
        > a{
            display: block;
        }
        img{
            @extend %w100;
        }
        .product-action{
            @extend %posabsolute;
            left: 0;
            right: 0;
            bottom: 20px;
            @extend %invisible;
            @extend %basetransition1;
            &:hover {
                .product-action a {
                    margin: 0 3px;
                }
            }
        }
    }
    .product-action {
        a {
            width: 30px;
            height: 30px;
            @extend %primary-bg-color;
            @extend %textcenter;
            @extend %white-color;
            font-size: 13px;
            line-height: 32px;
            margin: 0 5px;
            @extend %basetransition1;
            border-radius: 3px;
            &:hover {
                @extend %secondary-bg-color;
            }
            .fa-shopping-cart {
                padding-right: 2px;
            }
        }
    }
    .product-content {
        @extend %textcenter;
        padding: 22px 20px 20px 20px;
        h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }
        .stars {
            margin-bottom: 8px;
            span {
                color: #FFB432;
            }
        }
        .price{
            font-weight: 700;
            font-size: 14px;
            @extend %secondary-color;
            .old-price {
                text-decoration: line-through;
            }
        }
    }
    &:hover .product-action {
        @extend %visible;
    }
    &.large {
        padding: 15px 30px 15px 15px;
        @include all-below-mobile-lg{
            padding: 20px;
        }
        .product-img{
            @include all-below-mobile-lg{
                margin-bottom: 15px;
            }  
        }
        .product-action{
            a{
                margin: 0;
                margin-right: 10px;
            }
        }
        .product-content {
            @extend %textleft;
            padding: 0;
            h4 {
                font-size: 24px;
                margin-bottom: 10px;
                margin-top: 3px;
            }
            .price{
                margin-bottom: 15px;
                font-size: 16px;
            }
            .stars {
                margin-bottom: 0;
            }
        }
    }
}



.shop-page-area{
    // sidebar
    .sidebar{
        &.shop-sidebar {
            .single-sidebar-item {
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 18px;
                    padding: 16px 20px 15px;
                    border: 0;
                    border-bottom: 1px solid $border-color;
                    @include mx-desktops{
                        padding: 19px 10px 19px;
                    }
                }
                &.shop-page-accor h3 {
                    border-bottom: 0;
                }
                // .search-box
                .search-box {
                    padding: 15px 20px;
                    @include mx-desktops{
                        padding: 20px 10px;
                    }
                    input[type=text] {
                        border-color: $border-color;
                    }
                }
                // .search-box
                .search-box {
                    // padding: 25px 30px;
                    @extend %posrelative;
                    [type=submit] {
                        @extend %posabsolute;
                        @extend %white-bg-color;
                        right: 21px;
                        top: 21px;
                        border: 0;
                        height: 48px;
                        width: 45px;
                        border-radius: 0 5px 5px 0;
                        @include all-below-med{
                            top: 16px;
                        }
                    }
                    input[type=text] {
                        height: 50px;
                        padding: 12px 15px;
                    }
                }
                // .accordion-wrap
                .accordion-wrap {
                    .single-accordion {
                        box-shadow: none;
                        margin: 0;
                        &:after {
                            right: 13px;
                            left: auto;
                            width: 20px;
                            height: 20px;
                            border-radius: 0;
                            line-height: 22px;
                            font-size: 23px;
                            padding: 0;
                            top: 14px;
                            color: #D7D7D7;
                            background: none;
                        }
                        .accordion-header {
                            .btn {
                                padding: 12px 20px 12px 20px;
                                font-size: 16px;
                                font-weight: 400;
                                @extend %body-color;
                                border-top: 1px solid $border-color;
                                @include mx-desktops{
                                    padding: 12px 10px 12px 10px;
                                }
                            }
                        }
                        .accordion-body {
                            padding: 10px 20px;
                            @include mx-desktops{
                                padding: 10px 10px;
                            }
                            a {
                                @extend %body-color;
                                @extend %basetransition1;
                                padding: 2px 0;
                                &:hover{
                                    @extend %primary-color; 
                                }
                            }
                        }
                        .show {
                            .accordion-body {
                                border-top: 1px solid $border-color;
                            }
                        }
                    }
                }
                // latests-products
                &.latests-products{
                    ul {
                        li {
                            a {
                                padding: 15px 20px 15px 100px;
                                line-height: 1;
                                @include mx-desktops{
                                    padding: 15px 10px 15px 90px;
                                    font-size: 15px;
                                }
                                img {
                                    @extend %posabsolute;
                                    left: 20px;
                                    top: 15px;
                                    max-width: 70px;
                                    @include mx-desktops{
                                       left: 10px;
                                    }
                                }
                                p {
                                    margin: 0 0 10px;
                                    @include mx-desktops{
                                        margin-bottom: 5px;
                                    }
                                }
                                .stars {
                                    margin-bottom: 10px;
                                    @include mx-desktops{
                                       margin-bottom: 5px;
                                    }
                                    span {
                                        color: #FFB432;
                                        @include mx-desktops{
                                            font-size: 12px;
                                            margin-right: 0;
                                        }
                                    }
                                }
                                .price {
                                    font-weight: 500;
                                    @include mx-desktops{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .slick-slider-wrap
.slick-slider-wrap {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    @include all-below-mobile-lg{
        margin-bottom: 15px;
    }
    .heart-icon {
        @extend %posabsolute;
        @extend %basetransition1;
        left: 20px;
        top: 15px;
        z-index: 2;
        color: #94CF50;
        &:hover {
            @extend %primary-color;
        }
    }
    .slick-arrow {
        height: 66px;
        line-height: 78px;
        width: 26px;
        top: 50%;
        margin-top: -33px;
        background-color: #BECCC5;
        font-size: 20px;
        @extend %white-color;
        @extend %cursorpointer;
        @extend %basetransition1;
        &:hover{
            @extend %primary-bg-color;
        }
        i {
            transform: rotate(-90deg);
            @extend %posabsolute;
            @extend %textcenter;
            top: 50%;
            left: 7px;
            margin-top: -12px;
            font-size: 24px;
            @include mx-desktops{
                // margin-top: -7px;
            }
        }
    }
    .arrow-right {
        right: 0;
        @extend %posabsolute;
        z-index: 2;
    }
    .arrow-left {
        left: 0;
        @extend %posabsolute;
        z-index: 2;
    }
    .slider {
        margin-bottom: 6px;
        .popup-link1 {
            right: 20px;
            bottom: 20px;
            width: 40px;
            height: 40px;
            border: 1px solid #94CF50;
            line-height: 39px;
            color: #94CF50;
            @extend %posabsolute;
            @extend %textcenter;
            @extend %displayblock;
            @extend %borderradius50;
            @extend %basetransition2;
            &:hover{
                background-color: #94CF50;
                @extend %white-color;
            }
        }
    }
    .slider-nav-thumbnails {
        @include all-mx-mobile{
            display: none;
        }
        .slick-list {
            margin-left: -5px;
            margin-right: -5px;
        }
        .slick-slide {
            margin: 0 3px;
            @include  all-below-mobile-lg{
                margin: 0 4px;
            }
            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}
// .product-slider photo overlap issue
.slider, .slider-nav-thumbnails{
    @extend %invisible;	 
    transition: opacity 0.1s;
    &.slick-initialized{
        @extend %visible;
        .single-car-item{
            @extend %displayblock;
            visibility:visible !important;
        }
    }
    .single-car-item{
        @extend %displaynone;
        img{
            @extend %w100;
        }
        &:nth-child(1){
            @extend %displayblock;
        }
    }
}
// .product-details
.product-details{
    padding: 20px;
    margin-bottom: 30px;
    @extend %default-box-shadow-2;
    @include mx-desktops{
        font-size: 15px;
        .col-md-6:first-child {
            padding-right: 0;
        }
    }
    @include mx-tablet{
        .col-md-6:first-child {
            padding-right: 0;
        }
    }
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
        @include mx-desktops{
            margin-bottom: 7px;
            font-size: 22px;
        }
        @include mx-tablet{
            margin-bottom: 7px;
            font-size: 22px;
        }
    }
    h4{
        font-size: 18px;
        @include mx-desktops{
            font-size: 16px;
            margin-bottom: 8px;
        }
        @include mx-tablet{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .price {
        .old-price{
            text-decoration:line-through;
        }
    }
    .stars {
        margin-bottom: 10px;
        span {
            color: #F08E25;
        }
    }
    .nice-select {
        border-color: $border-color;
        height: 42px;
        line-height: 42px;
        border-radius: 3px;
        @include mx-desktops{
            margin-bottom: 10px;
            padding-left: 10px;
            font-size: 15px;
            height: 40px;
            line-height: 40px;
        }
        @include mx-tablet{
            margin-bottom: 10px;
            padding-left: 10px;
            font-size: 15px;
            height: 40px;
            line-height: 40px;
        }
        &:before {
            @extend %posabsolute;
            right: 0px;
            top: 0;
            width: 40px;
            height: 40px;
            background: #F7FBFF;
            content: "";
            border-left: 1px solid $border-color;
            border-radius: 0 3px 3px 0;
            @include mx-desktops{
                height: 38px;
            }
            @include mx-tablet{
                height: 38px;
            }
        }
        &:after {
            border-color: #000000;
            right: 17px;
        }
        &:focus {
            &:after {
                @extend %primary-border-color;
            }
        }
    }
    .boxed-btn {
        width: 100%;
        margin-top: 30px;
        @include mx-desktops{
            margin-top: 10px;
            font-size: 14px;
            padding: 12px 50px;
        }
        @include mx-tablet{
            margin-top: 10px;
            font-size: 14px;
            padding: 12px 50px;
        }
    }
    .coupon-code {
        flex-basis: 218px;
        @include mx-desktops{
            flex-basis: 163px;
        }
        @include mx-tablet{
            flex-basis: 163px;
        }
        input[type=text] {
            border-color: $border-color;
            height: 42px;
            padding: 9px 20px;
            @include mx-desktops{
                padding: 9px 10px;
                font-size: 15px;
            }
            @include mx-tablet{
                padding: 9px 10px;
                font-size: 15px;
            }
            &:focus {
                @extend %primary-border-color;
            }
        }
    }
}
// .cart-plus-minus
.cart-plus-minus {
    width: 140px;
    margin-right: 20px;
    @include mx-desktops{
        width: 137px;
        margin-right: 10px;
    }
    @include mx-tablet{
        width: 137px;
        margin-right: 10px;
    }
    span {
        @extend %cursorpointer;
    }
    .number{
        border: 1px solid $border-color;
        border-radius: 3px;
        .minus, .plus{
            width:40px;
            height:40px;
            background:#F7FBFF;
            line-height: 38px;
            @extend %textcenter;
        }
        .minus{
            border-right: 1px solid $border-color;
        }
        .plus{
            border-left: 1px solid $border-color;
        }
        input {
            height:40px;
            width: 58px;
            @extend %textcenter;
            font-size: 14px;
            border: 0;
            padding: 10px 0;
            &:focus{
                border: 0;
            }
        }
    }
}

// .product-description-reviews
.product-description-reviews {
    @extend %default-box-shadow-2;
    margin-bottom: 30px;
    .nav-tabs {
        border-bottom: 1px solid $border-color;
        li {
            a {
                padding: 15px 35px;
                font-size: 14px;
                @extend %section-bg-color;
                @extend %uppercase;
                font-weight: 700;
                color: #0a1f44;
                @include all-below-mobile-lg{
                    padding: 15px 22px;
                }
                &.active {
                    @extend %primary-bg-color;
                    @extend %white-color;
                }
            }
        }
    }
    .description {
        padding: 25px 30px;
        @include all-below-mobile-lg{
            padding: 25px 20px;
        }
    }
    .reviews {
        ul {
            li {
                @extend %posrelative;
                padding: 25px 25px 25px 115px;
                border-bottom: 1px solid $border-color;
                @include all-below-mobile-lg{
                    padding: 20px;
                }
                img {
                    @extend %posabsolute;
                    left: 25px;
                    top: 25px;
                    max-width: 70px;
                    @include all-below-mobile-lg{
                        position: relative;
                        left: 0;
                        top: 0;
                        margin-bottom: 15px;
                    }
                }
                h6 {
                    margin: 0 0 10px;
                }
                .stars {
                    @include all-below-mobile-lg{
                        position: absolute;
                        right: 20px;
                        top: 39px;
                    }
                    span {
                        font-size: 14px;
                        color: #F08E25;
                        
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

// add-reviews-form
.add-reviews-form{
    @extend %default-box-shadow-2;
    h4 {
        font-size: 18px;
        margin: 0;
        padding: 19px 30px;
        border-bottom: 1px solid $border-color;
        @include all-below-mobile-lg{
            padding: 19px 20px;
        }
    }
    .review-form {
        padding: 30px;
        @include all-below-mobile-lg{
            padding: 25px 20px;
        }
        input[type=text], input[type=email], textarea {
            border-color: $border-color;
            border-radius: 3px;
            margin-bottom: 30px;
            @include all-below-mobile-lg{
                margin: 0 0 20px;
            }
        }
        input[type=text]:focus, input[type=email]:focus, textarea:focus {
            @extend %primary-border-color;
        }
        textarea {
            height: 120px;
        }
        .form-item{
            &.one {
                flex-basis: 250px;
                margin-right: 20px;
                @include mx-desktops{
                    flex-basis: 195px;
                }
                @include mx-tablet{
                    flex-basis: 195px;
                }
                @include all-below-mobile-lg{
                    flex-basis: 50%;
                    padding-right: 10px;
                    margin-right: 0;
                }
            }
            &.two {
                flex-basis: 260px;
                @include mx-desktops{
                    flex-basis: 195px;
                }
                @include mx-tablet{
                    flex-basis: 195px;
                }
                @include all-below-mobile-lg{
                    flex-basis: 50%;
                    padding-left: 10px;
                }
            }
            &.three {
                flex-basis: 235px;
                margin-top: 16px;
                @include mx-desktops{
                    flex-basis: 220px;
                }
                @include mx-tablet{
                    flex-basis: 220px;
                }
                @include all-below-mobile-lg{
                    flex-basis: 100%;
                    margin: 0 0 20px;
                    justify-content: start !important;
                }
            }
            .stars {
                margin-left: 10px;
                @include mx-desktops{
                    margin-left: 5px;
                }
                @include mx-tablet{
                    margin-left: 5px;
                }
                span {
                    color: #CCCCCC;
                    cursor: pointer;
                    margin: 0 0 0 5px;
                }
                .single-star.active{
                    span{
                        color: #F08E25;
                    }
                }
            }
        }
    }
}


// Cart Page
.cart-area {
    h4 {
        font-size: 18px;
        margin: 0;
    }
    .cart-plus-minus {
        margin: 0 auto;
    }
    .cart-plus-minus .number .minus, .cart-plus-minus .number .plus{
        background: transparent;
    }
}
.table-content{
    @extend %default-box-shadow-2;
    margin-bottom: 70px;
    .table {
        margin: 0;
        padding: 0;
        td, th {
            border: 0;
        }
        thead {
            tr{
                @extend %primary-bg-color;
                th {
                    font-size: 16px;
                    font-weight: 700;
                    @extend %white-color;
                    padding: 18px 30px;
                    &:nth-child(1) {
                        width: 32%;
                    }
                    &:nth-child(2) {
                        @extend %textcenter;
                        width: 17%;
                    }
                    &:nth-child(3) {
                        width: 22%;
                        @extend %textcenter;
                    }
                    &:nth-child(4) {
                        width: 15%;
                        @extend %textcenter;
                    }
                    &:nth-child(5) {
                        width: 14%;
                        padding-right: 40px;
                        @extend %textright;
                    }
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid $border-color;
                &:last-child{
                    border-bottom: 0;
                }
                td {
                    vertical-align: middle;
                    img {
                        float: left;
                        margin-right: 25px;
                        max-width: 85px;
                    }
                    a {
                        @extend %displayblock;
                        &:hover{
                            h4{
                                @extend %primary-color;
                            }
                        }
                        h4 {
                            @extend %basetransition1;
                            margin: 0;
                            padding: 30px 0 0 0px;
                        }
                    }
                    &:nth-child(1) {
                        width: 32%;
                    }
                    &:nth-child(2) {
                        @extend %textcenter;
                        width: 17%;
                    }
                    &:nth-child(3) {
                        width: 22%;
                    }
                    &:nth-child(4) {
                        width: 15%;
                        @extend %textcenter;
                    }
                    &:nth-child(5) {
                        width: 14%;
                        padding-right: 40px;
                        .close {
                            @extend %primary-color;
                            @extend %cursorpointer;
                            @extend %basetransition1;
                            @extend %textcenter;
                            width: 30px;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

// checkout-box
.checkout-box{
    @extend %default-box-shadow-2;
    margin-bottom: 50px;
    padding: 20px 30px;
    button[type=submit] {
        padding: 18px 20px 17px;
        font-size: 14px;
        background: #F7FBFF;
        color: #0a1f44;
        @extend %basetransition2;
        border-radius: 0 5px 5px 0;
        &:hover {
            @extend %white-color;
            @extend %primary-bg-color;
        }
        &:after {
            background: none;
        }
    }
    .coupon {
        border: 1px solid $border-color;
        border-radius: 5px;
        input[type=text] {
            width: 190px;
            border: 0;
        }
    }
    .proceed-btn button[type=submit] {
        border-radius: 5px;
        margin-left: 15px;
    }
}

// cart-total-box
.cart-total-box{
    @extend %default-box-shadow-2;
    margin-bottom: 50px;
    h4 {
        padding: 24px 20px;
        border-bottom: 1px solid $border-color;
    }
    .left-content {
        .left {
            padding: 20px 15px 30px 20px;
            .single-select-item {
                .nice-select {
                    height: 50px;
                    line-height: 50px;
                    border-color: $border-color;
                }
            }
            .single-text-field{
                input[type=text] {
                    border-color: $border-color;
                    height: 50px;
                    padding: 12px 20px;
                    margin-bottom: 30px;
                    &:focus {
                        @extend %primary-border-color;
                    }
                }
            }
        }
    }
    .right-content{
        .right {
            padding: 20px 20px 30px 15px;
            ul {
                li {
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}




