/*================Shop Page CSS===============*/
// .bar-content
.bar-content {
    padding: 15px 20px;
    margin-bottom: 30px;
    @extend %default-box-shadow-2;
    h6 {
        font-weight: 400;
        margin: 6px 0 0 0;
    }
    ul{
        &.nav-tabs{
            border: 0;
        }
        li{
            a{
                @extend %secondary-color;
                font-size: 20px;
                margin-left: 8px;
                &.active{
                    @extend %primary-color;
                }
            }
        }
    }
}

// .single-shop-item
.single-shop-item {
    padding: 10px;
    margin-bottom: 30px;
    @extend %basetransition1;
    @extend %default-box-shadow-2;
    &:hover{
        @extend %default-box-shadow-hover-2;
    }
    .product-img {
        @extend %posrelative;
        > a{
            display: block;
        }
        img{
            @extend %w100;
        }
        .product-action{
            @extend %posabsolute;
            left: 0;
            right: 0;
            bottom: 20px;
            @extend %invisible;
            @extend %basetransition1;
            &:hover {
                .product-action a {
                    margin: 0 3px;
                }
            }
        }
    }
    .product-action {
        a {
            width: 30px;
            height: 30px;
            @extend %primary-bg-color;
            @extend %textcenter;
            @extend %white-color;
            font-size: 13px;
            line-height: 32px;
            margin: 0 5px;
            @extend %basetransition1;
            border-radius: 3px;
            &:hover {
                @extend %secondary-bg-color;
            }
            .fa-shopping-cart {
                padding-right: 2px;
            }
        }
    }
    .product-content {
        @extend %textcenter;
        padding: 22px 20px 20px 20px;
        h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }
        .stars {
            margin-bottom: 8px;
            span {
                color: #FFB432;
            }
        }
        .price{
            font-weight: 700;
            font-size: 14px;
            @extend %secondary-color;
            .old-price {
                text-decoration: line-through;
            }
        }
    }
    &:hover .product-action {
        @extend %visible;
    }
    &.large {
        padding: 15px 30px 15px 15px;
        @include all-below-mobile-lg{
            padding: 20px;
        }
        .product-img{
            @include all-below-mobile-lg{
                margin-bottom: 15px;
            }  
        }
        .product-action{
            a{
                margin: 0;
                margin-right: 10px;
            }
        }
        .product-content {
            @extend %textleft;
            padding: 0;
            h4 {
                font-size: 24px;
                margin-bottom: 10px;
                margin-top: 3px;
            }
            .price{
                margin-bottom: 15px;
                font-size: 16px;
            }
            .stars {
                margin-bottom: 0;
            }
        }
    }
}



.shop-page-area{
    // sidebar
    .sidebar{
        &.shop-sidebar {
            .single-sidebar-item {
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 18px;
                    padding: 16px 20px 15px;
                    border: 0;
                    border-bottom: 1px solid $border-color;
                    @include mx-desktops{
                        padding: 19px 10px 19px;
                    }
                }
                &.shop-page-accor h3 {
                    border-bottom: 0;
                }
                // .search-box
                .search-box {
                    padding: 15px 20px;
                    @include mx-desktops{
                        padding: 20px 10px;
                    }
                    input[type=text] {
                        border-color: $border-color;
                    }
                }
                // .search-box
                .search-box {
                    // padding: 25px 30px;
                    @extend %posrelative;
                    [type=submit] {
                        @extend %posabsolute;
                        @extend %white-bg-color;
                        right: 21px;
                        top: 21px;
                        border: 0;
                        height: 48px;
                        width: 45px;
                        border-radius: 0 5px 5px 0;
                    }
                    input[type=text] {
                        height: 50px;
                        padding: 12px 15px;
                    }
                }
                // .accordion-wrap
                .accordion-wrap {
                    .single-accordion {
                        box-shadow: none;
                        margin: 0;
                        &:after {
                            right: 13px;
                            left: auto;
                            width: 20px;
                            height: 20px;
                            border-radius: 0;
                            line-height: 22px;
                            font-size: 23px;
                            padding: 0;
                            top: 14px;
                            color: #D7D7D7;
                            background: none;
                        }
                        .accordion-header {
                            .btn {
                                padding: 12px 20px 12px 20px;
                                font-size: 16px;
                                font-weight: 400;
                                @extend %body-color;
                                border-top: 1px solid $border-color;
                                @include mx-desktops{
                                    padding: 12px 10px 12px 10px;
                                }
                            }
                        }
                        .accordion-body {
                            padding: 10px 20px;
                            @include mx-desktops{
                                padding: 10px 10px;
                            }
                            a {
                                @extend %body-color;
                                @extend %basetransition1;
                                padding: 2px 0;
                                &:hover{
                                    @extend %primary-color; 
                                }
                            }
                        }
                        .show {
                            .accordion-body {
                                border-top: 1px solid $border-color;
                            }
                        }
                    }
                }
                // latests-products
                &.latests-products{
                    ul {
                        li {
                            a {
                                padding: 15px 20px 15px 100px;
                                line-height: 1;
                                @include mx-desktops{
                                    padding: 15px 10px 15px 90px;
                                    font-size: 15px;
                                }
                                img {
                                    @extend %posabsolute;
                                    left: 20px;
                                    top: 15px;
                                    max-width: 70px;
                                    @include mx-desktops{
                                       left: 10px;
                                    }
                                }
                                p {
                                    margin: 0 0 10px;
                                    @include mx-desktops{
                                        margin-bottom: 5px;
                                    }
                                }
                                .stars {
                                    margin-bottom: 10px;
                                    @include mx-desktops{
                                       margin-bottom: 5px;
                                    }
                                    span {
                                        color: #FFB432;
                                        @include mx-desktops{
                                            font-size: 12px;
                                            margin-right: 0;
                                        }
                                    }
                                }
                                .price {
                                    font-weight: 500;
                                    @include mx-desktops{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .slick-slider-wrap
.slick-slider-wrap {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    // @include mx-desktops{
    //     width: 380px;
    // }
    @include all-below-med{
        margin: 0 auto;
        margin-bottom: 15px;
    }
    @include all-below-mobile-lg{
        width: 100%;
    }
    .heart-icon {
        @extend %posabsolute;
        @extend %basetransition1;
        left: 20px;
        top: 15px;
        z-index: 2;
        color: #94CF50;
        &:hover {
            @extend %primary-color;
        }
    }
    .slick-arrow {
        height: 66px;
        line-height: 78px;
        width: 26px;
        top: 50%;
        margin-top: -33px;
        background-color: #BECCC5;
        font-size: 20px;
        @extend %white-color;
        @extend %cursorpointer;
        @extend %basetransition1;
        &:hover{
            @extend %primary-bg-color;
        }
        i {
            transform: rotate(-90deg);
            @extend %posabsolute;
            @extend %textcenter;
            top: 50%;
            left: 7px;
            margin-top: -11px;
            font-size: 24px;
            @include mx-desktops{
                margin-top: -7px;
            }
        }
    }
    .arrow-right {
        right: 0;
        @extend %posabsolute;
        z-index: 2;
    }
    .arrow-left {
        left: 0;
        @extend %posabsolute;
        z-index: 2;
    }
    .slider {
        margin-bottom: 6px;
        .popup-link1 {
            right: 20px;
            bottom: 20px;
            width: 40px;
            height: 40px;
            border: 1px solid #94CF50;
            line-height: 39px;
            color: #94CF50;
            @extend %posabsolute;
            @extend %textcenter;
            @extend %displayblock;
            @extend %borderradius50;
            @extend %basetransition2;
            &:hover{
                background-color: #94CF50;
                @extend %white-color;
            }
        }
    }
    .slider-nav-thumbnails {
        @include all-mx-mobile{
            display: none;
        }
        .slick-list {
            margin-left: -5px;
            margin-right: -5px;
        }
        .slick-slide {
            margin: 0 3px;
            @include  all-below-mobile-lg{
                margin: 0 4px;
            }
            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}
// .product-slider photo overlap issue
.slider, .slider-nav-thumbnails{
    @extend %invisible;	 
    transition: opacity 0.1s;
    &.slick-initialized{
        @extend %visible;
        .single-car-item{
            @extend %displayblock;
            visibility:visible !important;
        }
    }
    .single-car-item{
        @extend %displaynone;
        img{
            @extend %w100;
        }
        &:nth-child(1){
            @extend %displayblock;
        }
    }
}

.product-details{
    padding: 20px;
    @extend %default-box-shadow-2;
}

.product-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 18px;
}

.stars {
    margin-bottom: 10px;
}

.stars span {
    color: #F08E25;
}

.product-details .nice-select {
    border-color: #f0f0f0;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
}

.nice-select:before {
    position: absolute;
    right: 0px;
    top: 0;
    width: 40px;
    height: 40px;
    background: #F7FBFF;
    content: "";
    border-left: 1px solid #E5ECF6;
    border-radius: 0 3px 3px 0;
}

.nice-select:after {
    border-color: #000000;
    right: 17px;
}

.coupon-code input[type=text] {
    border-color: #E5ECF6;
    height: 42px;
    padding: 9px 20px;
}

.coupon-code {
    flex-basis: 220px;
}

.coupon-code {}

.cart-plus-minus {
    flex-basis: 140px;
    margin-right: 20px;
}

.coupon-code input[type=text]:focus {
    border-color: #E8505B;
}

.product-details .boxed-btn {
    width: 100%;
    margin-top: 20px;
}