/*****************************
00. Mixins CSS
******************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.owl-dots div, .testimonial-area .single-testimonial-item .testimonial-header .reviewer-photo img, .team-area .single-team-item img {
  border-radius: 50%; }

.owl-nav div, .header-area .header-search span, .header-area .header-cart .number, .single-box .box-icon, .about-area .about-content .single-about-item i, .portfolio-area .portfolio-filter button .filter-count, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a, .blog-area .single-blog-item .blog-footer .blog-comments .comments-number, .accordion-wrap .single-accordion:after, .pricing-plan-area .single-pricing-plan .pricing-content ul li i {
  border-radius: 50px; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea, .scrollTop, .single-box, .single-box.wide-box, .portfolio-area .portfolio-filter button, .accordion-wrap .single-accordion, .pricing-plan-area .single-pricing-plan, .map-area .map-content-wrap .map-content {
  border-radius: 5px; }

.header-top-area .header-contact-info ul li:last-child, .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner, .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner .image-wrap img {
  border: 0; }

.mainmenu ul li ul li, .mainmenu ul li ul li a, .scrollTop, .single-box .box-icon, .pricing-plan-area .single-pricing-plan .pricing-tag .price-tag, .map-area .map-content-wrap .map-content .single-map-content .icon {
  display: block; }

.slicknav_menu {
  display: none; }

.owl-dots div, .owl-nav div, .header-top-area .header-contact-info ul li, .header-top-area .header-social-icons a, .mainmenu ul li, .portfolio-area .portfolio-filter button, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a {
  display: inline-block; }

.mainmenu ul li, .search-box-wrap .search-box, .boxed-btn, .single-box .box-icon, .portfolio-area .portfolio-filter button, .accordion-wrap .single-accordion, .accordion-wrap .single-accordion .accordion-header .btn, .pricing-plan-area .single-pricing-plan .pricing-content ul li {
  position: relative; }

.owl-nav div, .header-area .header-cart .number, .mainmenu ul li ul, .search-box-wrap .close-btn, .search-box-wrap .search-box button, .single-box.wide-box .box-icon, .about-area .about-content .single-about-item i, .portfolio-area .portfolio-filter button .filter-count, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover, .testimonial-area .single-testimonial-item .testimonial-header .reviewer-photo, .blog-area .single-blog-item .blog-footer .blog-comments .comments-number, .accordion-wrap .single-accordion:after, .pricing-plan-area .single-pricing-plan .pricing-content ul li i, .map-area .map-content-wrap {
  position: absolute; }

.search-box-wrap, .scrollTop {
  position: fixed; }

.hero-area, .contact-area {
  background-size: cover;
  background-position: center;
  background-color: #FAFAFA; }

.boxed-btn:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1; }

.search-box-wrap .search-overlay:after, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap:after {
  position: absolute;
  content: ""; }

a, button, img, input, span, .owl-nav div, .header-top-area .header-social-icons a, .boxed-btn:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mainmenu ul li ul li, .search-box-wrap, .footer-area .single-footer-widget-item h4, .scrollTop, .single-box, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap:after, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a, .blog-area .single-blog-item, .team-area .single-team-item, .pricing-plan-area .single-pricing-plan {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.mainmenu ul li ul {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.mainmenu ul li ul, .mainmenu ul li ul ul, .search-box-wrap, .scrollTop, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap:after, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover {
  visibility: hidden;
  opacity: 0; }

.mainmenu ul li:hover > ul, .search-box-wrap.active, .scrollTop.scrollBtn, .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner .portfolio-hover {
  visibility: visible;
  opacity: 1; }

.section-title h4, .mainmenu ul li a, .boxed-btn, .inline-btn, .hero-area .hero-content h3, .portfolio-area .portfolio-filter button, .map-area .map-content-wrap .map-content .single-map-content.text h4 {
  text-transform: uppercase; }

.section-title h2 {
  text-transform: capitalize; }

.nice-select, .search-box-wrap, .search-box-wrap .search-overlay:after {
  width: 100%; }

.search-box-wrap, .search-box-wrap .search-overlay:after {
  height: 100%; }

.owl-dots, .owl-nav div, .header-top-area .header-social-icons a, .header-area .header-search span, .header-area .header-cart .number, .search-box-wrap .close-btn, .search-box-wrap .search-box, .scrollTop, .single-box .box-icon, .about-area .about-content .single-about-item i, .portfolio-area .portfolio-filter button .filter-count, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover, .blog-area .single-blog-item .blog-footer .blog-comments .comments-number, .accordion-wrap .single-accordion:after, .pricing-plan-area .single-pricing-plan .pricing-content ul li i {
  text-align: center; }

.footer-area .single-footer-widget-item .single-recent-blog img {
  float: left; }

.header-area .header-search span, .search-box-wrap .close-btn {
  cursor: pointer; }

.boxed-btn {
  font-family: "Roboto", sans-serif; }

/*======fonts==============*/
/*=================== Reset CSS =====================*/
img {
  max-width: 100%;
  height: auto; }

a, a:hover, a:focus, a:active, button, button:focus,
input, input:focus, select, textarea, textarea:focus, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: 0 solid; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

::selection {
  background: #90B1C3;
  color: #fff; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

*:focus {
  outline: none !important; }

a:focus {
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type=submit] {
  cursor: pointer; }

/*==============Common CSS===================*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 700;
  color: #0a1f44; }

p:last-child {
  margin-bottom: 0; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
  height: 55px;
  width: 100%;
  border: 1px solid transparent;
  padding: 15px 20px;
  font-size: 16px; }

.form-group {
  margin-bottom: 20px; }

input[type=submit], button[type=submit] {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #555555; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #555555; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #555555; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #555555; }

textarea {
  height: 100px;
  padding: 15px 20px;
  width: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.section-padding-115-100 {
  padding: 115px 0 100px; }

.stars span {
  margin-right: 1px; }

/*========.section-title=========*/
.section-title h4 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px; }

.section-title h2 {
  font-size: 34px;
  margin-bottom: 40px;
  color: #0a1f44; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section-title h2 {
      font-size: 32px; } }

/*======.owl-dots customization=======*/
.owl-dots div {
  height: 5px;
  width: 5px;
  background-color: #BBBBBB;
  margin: 0 5px; }
  .owl-dots div.active {
    background-color: #0DA0F4; }

/*=====owl nav customization======*/
.owl-nav div {
  left: -10px;
  top: 50%;
  color: #2A7D2E;
  background-color: #fff;
  line-height: 60px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  font-size: 45px;
  padding-right: 5px; }
  .owl-nav div.owl-next {
    left: auto;
    right: -10px;
    padding-left: 5px;
    padding-right: 0; }
  .owl-nav div:hover {
    color: #ffffff;
    background-color: #2A7D2E; }

/*========.nice-select=============*/
.nice-select {
  height: 55px;
  line-height: 55px;
  padding-left: 20px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  font-size: 16px; }
  .nice-select:hover {
    border: 1px solid transparent; }
  .nice-select .list {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .nice-select:after {
    right: 25px;
    border-color: #999999;
    width: 10px;
    height: 10px;
    margin-top: -6px; }

.facebook {
  color: #3b579d; }
  .facebook:hover {
    color: #3b579d; }

.twitter {
  color: #3acaff; }
  .twitter:hover {
    color: #3acaff; }

.google-plus {
  color: #dd4b39; }
  .google-plus:hover {
    color: #dd4b39; }

.vimeo {
  color: #31B3E2; }
  .vimeo:hover {
    color: #31B3E2; }

.pinterest {
  color: #cb2027; }
  .pinterest:hover {
    color: #cb2027; }

/*=============== Header CSS ==================*/
.header {
  height: 150px; }

.header-top-area {
  font-size: 15px; }
  .header-top-area .header-contact-info ul li {
    padding: 14px 0 14px;
    border-right: 1px solid #ED737C;
    padding-right: 15px;
    margin-right: 15px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .header-top-area .header-contact-info ul li {
        padding-right: 10px;
        margin-right: 10px; } }
    .header-top-area .header-contact-info ul li:last-child {
      margin-right: 0;
      padding-right: 0; }
  .header-top-area .header-social-icons a {
    border-right: 1px solid #ED737C;
    padding: 12px 0px 11px;
    width: 48px;
    font-size: 18px; }
    .header-top-area .header-social-icons a:first-child {
      border-left: 1px solid #ED737C; }

.header-area .header-search {
  width: 85px;
  border-left: 1px solid #F0F0F0;
  margin-left: 50px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-search {
      width: 75px;
      margin-left: 20px; } }
  .header-area .header-search span {
    width: 50px;
    height: 50px;
    border: 1px solid #F0F0F0;
    line-height: 47px;
    font-size: 20px; }

.header-area .header-cart {
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  width: 75px;
  color: #E0E0E0;
  font-size: 28px;
  padding-top: 14px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-cart {
      width: 65px; } }
  .header-area .header-cart .number {
    width: 24px;
    height: 24px;
    left: 4px;
    top: -15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px; }

.mainmenu ul li a {
  color: #0a1f44;
  font-size: 14px;
  font-weight: 500;
  padding: 39px 14px 40px; }

.mainmenu ul li ul {
  left: 0;
  top: 120px;
  width: 300px;
  z-index: 999; }

.mainmenu ul li ul ul {
  left: 100%;
  top: 45px; }

.mainmenu ul li:hover > ul {
  top: 100px; }

.mainmenu ul li ul li {
  border-bottom: 1px solid #f4f4f4; }

.mainmenu ul li ul li a {
  padding: 12px 15px 12px;
  text-transform: capitalize;
  font-size: 15px; }

.mainmenu ul li ul li:hover {
  border-color: #e8505b; }

.mainmenu ul li ul li:last-child {
  border-bottom: 4px solid #e8505b; }

.mainmenu ul li ul li:hover ul {
  top: 0; }

@media (min-width: 992px) {
  .header-area.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: slide-down 0.7s;
    animation: slide-down 0.7s;
    z-index: 999;
    -webkit-box-shadow: 0 -40px 20px 30px #000;
    box-shadow: 0 -40px 20px 30px #000; }
    .header-area.fixed:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 1; } }

@media (max-width: 991px) {
  .header-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9; } }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* =======slicknav_menu======== */
@media (max-width: 991px) {
  .slicknav_menu {
    display: block;
    background: #ddd;
    position: fixed;
    left: 0;
    top: -10px;
    right: 0;
    width: 720px;
    z-index: 999999999999;
    margin: 0 auto;
    height: 0; }
    .slicknav_menu span.slicknav_menutxt {
      display: none; }
    .slicknav_menu .slicknav_btn {
      padding: 0;
      margin: 0px 11px 0 0;
      font-size: 30px;
      background: none;
      top: 38px;
      right: 15px; } }
    @media (max-width: 991px) and (min-width: 576px) {
      .slicknav_menu .slicknav_btn {
        margin: 0px -5px 0 0; } }

@media (max-width: 991px) {
      .slicknav_menu .slicknav_btn:hover {
        background: none; }
    .slicknav_menu .slicknav_icon {
      margin: 0; }
      .slicknav_menu .slicknav_icon span {
        background-color: #262262;
        border-radius: 0px; }
    .slicknav_menu .slicknav_nav {
      padding: 10px 0;
      background: #fff;
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      -webkit-box-shadow: 2px 10px 30px -14px #000;
      box-shadow: 2px 10px 30px -14px #000; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        padding: 0; }
        .slicknav_menu .slicknav_nav .slicknav_row a {
          padding: 10px 15px;
          display: inline-block; }
      .slicknav_menu .slicknav_nav .slicknav_row {
        border-radius: 0px; }
        .slicknav_menu .slicknav_nav .slicknav_row:hover {
          border-radius: 0px; }
    .slicknav_menu a {
      padding: 10px 15px;
      font-size: 16px;
      color: #000;
      border-radius: 0; }
      .slicknav_menu a:hover {
        border-radius: 0; } }

@media (max-width: 767px) {
  .slicknav_menu {
    width: 540px; } }

@media (max-width: 575px) {
  .slicknav_menu {
    width: 100%; } }

.search-box-wrap {
  top: 0;
  left: 0;
  z-index: 99999; }
  .search-box-wrap .close-btn {
    right: 5%;
    top: 5%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px; }
  .search-box-wrap .search-overlay:after {
    left: 0;
    top: 0;
    opacity: .9;
    z-index: -1; }
  .search-box-wrap .search-box {
    width: 500px;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    left: 0;
    right: 0; }
    .search-box-wrap .search-box input[type=text] {
      background-color: #E8F0FE; }
      .search-box-wrap .search-box input[type=text]:focus {
        border-color: #E8F0FE; }
    .search-box-wrap .search-box button {
      height: 55px;
      border: 0;
      width: 60px;
      border-radius: 0 5px 5px 0;
      right: 0;
      top: 0;
      z-index: 999999; }

/*============== Footer CSS ================*/
.footer-area {
  background-color: #263238;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  font-size: 15px; }
  .footer-area .single-footer-widget-item h4 {
    font-size: 18px;
    margin-bottom: 25px; }
  .footer-area .single-footer-widget-item .single-recent-blog {
    padding-bottom: 20px;
    border-bottom: 1px solid #2E3B42;
    margin-bottom: 20px; }
    .footer-area .single-footer-widget-item .single-recent-blog:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    .footer-area .single-footer-widget-item .single-recent-blog img {
      margin-right: 20px;
      max-width: 80px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .footer-area .single-footer-widget-item .single-recent-blog img {
          margin-right: 10px;
          margin-bottom: 15px; } }
    .footer-area .single-footer-widget-item .single-recent-blog h4 {
      font-size: 16px;
      font-weight: 500;
      margin: -3px 0 10px;
      line-height: 1.5; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .footer-area .single-footer-widget-item .single-recent-blog h4 {
          font-size: 15px; } }
  .footer-area .single-footer-widget-item .subscription-form input[type=email] {
    background: #263238;
    margin-bottom: 20px; }
  .footer-area .single-footer-widget-item .subscription-form ::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .footer-area .single-footer-widget-item .subscription-form :-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .footer-area .single-footer-widget-item .subscription-form ::-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .footer-area .single-footer-widget-item .subscription-form ::placeholder {
    color: #ffffff;
    opacity: 1; }
  .footer-area .single-footer-widget-item .subscription-form :-ms-input-placeholder {
    color: #ffffff; }
  .footer-area .single-footer-widget-item .subscription-form ::-ms-input-placeholder {
    color: #ffffff; }
  .footer-area .single-footer-widget-item .subscription-form .boxed-btn {
    padding: 18px 25px; }
    .footer-area .single-footer-widget-item .subscription-form .boxed-btn i {
      margin-right: 10px; }
  .footer-area .copyright-text {
    padding: 30px 0;
    border-top: 1px solid #2C3940;
    margin-top: 90px; }

.scrollTop {
  right: 2%;
  bottom: -40px;
  width: 40px;
  height: 40px;
  z-index: 9;
  font-size: 25px;
  line-height: 37px; }
  .scrollTop.scrollBtn {
    bottom: 40px; }

/*=========== Button CSS ==========*/
.boxed-btn {
  padding: 15px 50px;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  z-index: 2;
  border-radius: 4px; }
  .boxed-btn:after {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    border-radius: 4px; }
  .boxed-btn:hover:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); }

.inline-btn {
  color: #0b185f;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0; }

.stars, .section-title h4, .header-area .header-search, .mainmenu ul li:hover > a, .search-box-wrap .close-btn:hover, .footer-area .single-footer-widget-item .inline-btn:hover, .footer-area .single-footer-widget-item .single-recent-blog:hover a, .footer-area .single-footer-widget-item .single-recent-blog:hover a h4, .footer-area .single-footer-widget-item .subscription-form .boxed-btn, .inline-btn:hover, .hero-area .hero-content h2 span, .portfolio-area .portfolio-filter button.is-checked, .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner .portfolio-content a, .services-area.home-2 .section-title h4, .map-area .map-content-wrap .map-content .single-map-content .icon i, .map-area .map-content-wrap .map-content .single-map-content a:hover {
  color: #e8505b; }

.header-top-area, .header-area .header-cart .number, .mainmenu ul li ul li:hover > a, .search-box-wrap .search-box button, .footer-area .single-footer-widget-item .subscription-form .boxed-btn:hover:after, .scrollTop:hover, .boxed-btn, .single-box .box-icon, .about-area .about-content .single-about-item i, .services-area, .portfolio-area .portfolio-filter button.is-checked .filter-count, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a, .testimonial-area, .blog-area .single-blog-item .blog-footer .blog-comments .comments-number, .accordion-wrap .single-accordion:after, .portfolio-area.home-2, .pricing-plan-area .single-pricing-plan .pricing-tag, .pricing-plan-area .single-pricing-plan .pricing-content ul li.active i {
  background-color: #e8505b; }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, textarea:focus, .nice-select:focus, .nice-select:hover:after, .footer-area .single-footer-widget-item .subscription-form input[type=email]:focus {
  border-color: #e8505b; }

.header-top-area .header-contact-info ul li:hover a, .header-top-area .header-social-icons a:hover, .accordion-wrap .single-accordion .accordion-header .btn {
  color: #0b185f; }

.search-box-wrap .search-overlay:after, .scrollTop, .boxed-btn:after, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a:hover {
  background-color: #0b185f; }

.header-top-area, .header-top-area .header-contact-info ul li a, .header-top-area .header-social-icons a, .header-area .header-cart .number, .mainmenu ul li ul li:hover > a, .search-box-wrap .close-btn, .search-box-wrap .search-box button, .footer-area .single-footer-widget-item, .footer-area .single-footer-widget-item h4, .footer-area .single-footer-widget-item .inline-btn, .footer-area .single-footer-widget-item .single-recent-blog a, .footer-area .single-footer-widget-item .subscription-form input[type=email], .footer-area .single-footer-widget-item .subscription-form .boxed-btn:hover, .footer-area .copyright-text, .scrollTop, .scrollTop:hover, .boxed-btn, .boxed-btn:hover, .single-box .box-icon, .single-box.wide-box .box-icon i, .about-area .about-content .single-about-item i, .services-area .section-title h4, .services-area .section-title h2, .portfolio-area .portfolio-filter button.is-checked .filter-count, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a, .testimonial-area .section-title h4, .testimonial-area .section-title h2, .blog-area .single-blog-item .blog-footer .blog-comments .comments-number, .accordion-wrap .single-accordion:after, .portfolio-area.home-2 .section-title h4, .portfolio-area.home-2 .section-title h2, .pricing-plan-area .single-pricing-plan .pricing-tag, .pricing-plan-area .single-pricing-plan .pricing-content ul li i {
  color: #ffffff; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea, .header-area, .mainmenu ul li ul, .footer-area .single-footer-widget-item .subscription-form .boxed-btn, .single-box, .portfolio-area .portfolio-filter button, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner, .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap:after, .testimonial-area .single-testimonial-item, .blog-area .single-blog-item, .accordion-wrap .single-accordion, .services-area.home-2, .pricing-plan-area .single-pricing-plan, .map-area .map-content-wrap .map-content {
  background-color: #ffffff; }

.testimonial-area .single-testimonial-item .testimonial-header .left h4, .team-area .single-team-item h5, .pricing-plan-area .single-pricing-plan .pricing-content ul li, .map-area .map-content-wrap .map-content .single-map-content a {
  color: #555555; }

.portfolio-area .portfolio-filter button .filter-count {
  background-color: #FAFAFA; }

.footer-area .single-footer-widget-item .subscription-form input[type=email] {
  border-color: #FAFAFA; }

/*================Home Page CSS===============*/
.hero-area, .hero-area .row {
  height: 700px; }

.hero-area .hero-content {
  padding-right: 60px; }
  .hero-area .hero-content h3 {
    color: #0a1f44;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px; }
  .hero-area .hero-content h2 {
    font-size: 50px;
    color: #0a1f44; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .hero-area .hero-content h2 {
        font-size: 44px; } }
  .hero-area .hero-content .boxed-btn {
    margin-top: 30px; }

.single-box {
  -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.25);
  padding: 42px 40px 25px 40px;
  height: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .single-box {
      padding: 32px 20px 20px 20px; } }
  .single-box:hover {
    -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25); }
  .single-box h3 {
    font-size: 20px;
    margin-bottom: 22px; }
  .single-box .box-icon {
    height: 90px;
    width: 90px;
    line-height: 87px;
    margin-bottom: 35px;
    left: 0;
    top: 0; }
    .single-box .box-icon i {
      font-size: 40px;
      line-height: 100px; }
  .single-box.wide-box {
    padding: 40px 30px 40px 150px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .single-box.wide-box {
        padding: 30px 30px 30px 140px; } }
    .single-box.wide-box .box-icon {
      margin-bottom: 0;
      left: 45px;
      top: 50%;
      -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
      transform: translate(0px, -50%); }
      @media (min-width: 992px) and (max-width: 1199px) {
        .single-box.wide-box .box-icon {
          left: 40px; } }

.features-area {
  padding: 0 0 50px;
  margin-top: -40px; }

.about-area {
  padding: 60px 0 120px; }
  .about-area .section-title h2 {
    margin-bottom: 20px; }
  .about-area .about-content {
    padding-left: 40px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .about-area .about-content {
        padding-left: 20px; } }
    .about-area .about-content .single-about-item {
      padding-left: 70px;
      margin-top: 30px; }
      .about-area .about-content .single-about-item h4 {
        font-size: 18px;
        margin-bottom: 8px; }
      .about-area .about-content .single-about-item i {
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        line-height: 51px;
        font-size: 25px;
        padding-left: 4px; }

.services-area .section-title h2 {
  margin-bottom: 60px; }

.services-area.home-1 .single-service-item {
  -webkit-box-shadow: none;
  box-shadow: none; }

.less-padding-content {
  padding-left: 5px;
  padding-right: 5px; }
  .less-padding-content .col-lg-6, .less-padding-content .col-lg-4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px; }

.portfolio-area .portfolio-filter {
  margin-bottom: 40px; }
  .portfolio-area .portfolio-filter button {
    margin: 0 4px;
    color: #00394f;
    font-size: 14px;
    font-weight: 700;
    padding: 19px 70px 19px 25px;
    -webkit-box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
    border: 0; }
    .portfolio-area .portfolio-filter button .filter-count {
      width: 35px;
      height: 35px;
      right: 20px;
      top: 10px;
      line-height: 35px; }

.portfolio-area .portfolio-gallery {
  margin-right: -15px;
  margin-left: -15px; }
  .portfolio-area .portfolio-gallery .single-portfolio-item {
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px; }
    .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner {
      border-radius: 5px 5px 0 0;
      -webkit-box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5); }
      .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap {
        z-index: 2; }
        .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap img {
          border-radius: 5px 5px 0 0; }
        .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap:after {
          left: 50%;
          top: 50%;
          width: 95%;
          height: 95%;
          z-index: 1;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover {
          left: 0;
          top: 50%;
          right: 0;
          -webkit-transform: translate(0px, -50%);
          -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
          z-index: 3; }
          .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .image-wrap .portfolio-hover a {
            width: 50px;
            height: 50px;
            font-size: 20px;
            margin: 0 4px;
            line-height: 50px; }
      .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .portfolio-content {
        padding: 26px 15px; }
        .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .portfolio-content h3 {
          font-size: 20px;
          margin-bottom: 10px; }
        .portfolio-area .portfolio-gallery .single-portfolio-item .portfolio-inner .portfolio-content a {
          color: #0a1f44; }
    .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner {
      -webkit-box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5); }
      .portfolio-area .portfolio-gallery .single-portfolio-item:hover .portfolio-inner .image-wrap:after {
        opacity: .9;
        visibility: visible; }

.contact-area .form-wrap {
  padding-left: 80px; }

.testimonial-area {
  padding: 115px 0 0;
  background-repeat: no-repeat;
  background-position: center; }
  .testimonial-area .testimonials-row {
    padding-bottom: 100px; }
  .testimonial-area .single-testimonial-item .testimonial-header {
    padding: 20px 30px;
    border-bottom: 1px solid #F0F0F0; }
    .testimonial-area .single-testimonial-item .testimonial-header .reviewer-photo {
      left: 0;
      top: 0; }
      .testimonial-area .single-testimonial-item .testimonial-header .reviewer-photo img {
        max-width: 60px; }
    .testimonial-area .single-testimonial-item .testimonial-header .left {
      padding-left: 70px; }
      .testimonial-area .single-testimonial-item .testimonial-header .left h3 {
        font-size: 18px;
        margin: 7px 0 7px 0px; }
      .testimonial-area .single-testimonial-item .testimonial-header .left h4 {
        font-size: 15px;
        margin: 0; }
  .testimonial-area .single-testimonial-item .testimonial-content {
    padding: 34px 30px 35px 30px; }

.clients-logo {
  padding: 55px 0;
  border-top: 1px solid #E76F7A; }
  .clients-logo .single-logo {
    padding-right: 40px; }
    .clients-logo .single-logo:last-child {
      padding-right: 0; }

.blog-area .section-title h2 {
  margin-bottom: 60px; }

.blog-area .single-blog-item {
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px -9px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px; }
  .blog-area .single-blog-item:hover {
    -webkit-box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.5); }
  .blog-area .single-blog-item img {
    border-radius: 5px 5px 0 0; }
  .blog-area .single-blog-item .blog-content {
    padding: 30px 25px 20px 26px; }
    .blog-area .single-blog-item .blog-content h3 {
      font-size: 20px;
      line-height: 1.5; }
    .blog-area .single-blog-item .blog-content .blog-meta {
      color: #888888;
      margin-bottom: 10px; }
      .blog-area .single-blog-item .blog-content .blog-meta span {
        margin-right: 20px; }
        @media (min-width: 992px) and (max-width: 1199px) {
          .blog-area .single-blog-item .blog-content .blog-meta span {
            margin-right: 10px; } }
        .blog-area .single-blog-item .blog-content .blog-meta span:last-child {
          margin-right: 0; }
  .blog-area .single-blog-item .blog-footer {
    padding: 7px 30px;
    border-top: 1px solid #F7F7F7; }
    .blog-area .single-blog-item .blog-footer .blog-comments {
      margin-top: 10px;
      font-size: 20px;
      color: #B2B2B2; }
      .blog-area .single-blog-item .blog-footer .blog-comments .comments-number {
        left: 2px;
        top: -5px;
        width: 16px;
        height: 16px;
        font-size: 13px;
        line-height: 16px; }

/*---------Home Page-2------------*/
.features-area.home-2 {
  padding: 100px 0;
  margin-top: 0; }
  .features-area.home-2 .section-title h2 {
    margin-bottom: 60px; }
  .features-area.home-2 .single-feature-item {
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25); }
    .features-area.home-2 .single-feature-item:hover {
      -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25); }

.brand-area .clients-logo {
  border-top: 0;
  border-bottom: 1px solid #F0F0F0; }

.about-area.home-2 {
  padding: 115px 0 110px; }
  .about-area.home-2 .about-image {
    margin-right: -140px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .about-area.home-2 .about-image {
        margin-right: 0; } }
  .about-area.home-2 .about-content {
    padding-left: 0; }

.accordion-wrap .single-accordion {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25); }
  .accordion-wrap .single-accordion:after {
    left: 25px;
    top: 23px;
    font-family: fontawesome;
    content: "\f067";
    width: 35px;
    height: 35px;
    line-height: 37px;
    font-size: 14px;
    padding-left: 2px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .accordion-wrap .single-accordion:after {
        left: 15px;
        top: 14px; } }
  .accordion-wrap .single-accordion.active:after {
    content: "\f068"; }
  .accordion-wrap .single-accordion .accordion-header .btn {
    padding: 24px 25px 24px 70px;
    font-weight: 700;
    font-size: 20px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .accordion-wrap .single-accordion .accordion-header .btn {
        padding: 15px 20px 15px 60px; } }
    .accordion-wrap .single-accordion .accordion-header .btn:focus, .accordion-wrap .single-accordion .accordion-header .btn:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      text-decoration: none; }
  .accordion-wrap .single-accordion .accordion-body {
    padding: 0px 25px 25px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .accordion-wrap .single-accordion .accordion-body {
        padding: 5px 18px 20px; } }

.services-area.home-2 .section-title h2 {
  color: #0a1f44; }

.portfolio-area.home-2 .portfolio-gallery .single-portfolio-item .portfolio-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }
  .portfolio-area.home-2 .portfolio-gallery .single-portfolio-item .portfolio-inner img {
    border-radius: 0; }

.portfolio-area.home-2 .portfolio-gallery .single-portfolio-item:hover .portfolio-inner {
  -webkit-box-shadow: none;
  box-shadow: none; }

.team-area .section-title h2 {
  margin-bottom: 60px; }

.team-area .single-team-item {
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
  border: 1px solid #F0F0F0;
  margin-bottom: 30px; }
  .team-area .single-team-item:hover {
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25); }
  .team-area .single-team-item img {
    margin-bottom: 20px; }
  .team-area .single-team-item h4 {
    font-size: 20px;
    margin: 0 0 10px; }
  .team-area .single-team-item h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0; }
  .team-area .single-team-item .member-content {
    padding: 30px 20px 0 20px; }
  .team-area .single-team-item .member-social-info {
    padding: 7px 0;
    border-top: 1px solid #F0F0F0;
    margin-top: 18px; }
    .team-area .single-team-item .member-social-info a {
      font-size: 16px;
      padding: 5px 6px; }

.pricing-plan-area .section-title h2 {
  margin-bottom: 50px; }

.pricing-plan-area .single-pricing-plan {
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px; }
  .pricing-plan-area .single-pricing-plan:hover {
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.25); }
  .pricing-plan-area .single-pricing-plan .pricing-header {
    padding: 31px 40px; }
    .pricing-plan-area .single-pricing-plan .pricing-header h3 {
      margin: 0;
      font-size: 24px; }
  .pricing-plan-area .single-pricing-plan .pricing-tag {
    padding: 36px 40px; }
    .pricing-plan-area .single-pricing-plan .pricing-tag .price-tag {
      font-size: 36px;
      font-weight: 700; }
  .pricing-plan-area .single-pricing-plan .pricing-content {
    padding: 40px 40px; }
    .pricing-plan-area .single-pricing-plan .pricing-content .boxed-btn {
      margin-top: 30px; }
    .pricing-plan-area .single-pricing-plan .pricing-content ul li {
      padding-left: 25px;
      margin-bottom: 15px; }
      .pricing-plan-area .single-pricing-plan .pricing-content ul li i {
        width: 15px;
        height: 15px;
        background: #DBDBDB;
        font-size: 10px;
        line-height: 15px;
        left: 0;
        top: 4px;
        padding-left: 1px; }

.map-area {
  height: 600px;
  background-color: #ddd; }
  .map-area .map-content-wrap {
    left: 0;
    bottom: 30px;
    width: 100%; }
    .map-area .map-content-wrap .map-content {
      padding: 40px; }
      .map-area .map-content-wrap .map-content .single-map-content {
        padding-right: 40px; }
        .map-area .map-content-wrap .map-content .single-map-content:last-child {
          padding-right: 0; }
        .map-area .map-content-wrap .map-content .single-map-content .icon {
          height: 40px;
          margin-bottom: 15px; }
          .map-area .map-content-wrap .map-content .single-map-content .icon i {
            font-size: 35px; }
            .map-area .map-content-wrap .map-content .single-map-content .icon i.fa-mobile {
              font-size: 40px; }
            .map-area .map-content-wrap .map-content .single-map-content .icon i.fa-envelope-o {
              font-size: 30px; }
        .map-area .map-content-wrap .map-content .single-map-content h4 {
          font-size: 18px; }
        .map-area .map-content-wrap .map-content .single-map-content.text {
          width: 350px; }
          .map-area .map-content-wrap .map-content .single-map-content.text h4 {
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 10px; }
          .map-area .map-content-wrap .map-content .single-map-content.text h3 {
            font-size: 24px; }
        .map-area .map-content-wrap .map-content .single-map-content.address {
          width: 290px; }
        .map-area .map-content-wrap .map-content .single-map-content.phone-number {
          width: 200px; }
        .map-area .map-content-wrap .map-content .single-map-content.email-address {
          width: 190px; }

/*# sourceMappingURL=style.css.map */