/*=========== Button CSS ==========*/

.boxed-btn {
    padding: 15px 50px;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    z-index: 2;
    border-radius: 4px;
    @extend %primary-bg-color;
    @extend %body-font;
    @extend %posrelative;
    @extend %white-color;
    @extend %uppercase;
    &:after {
        @extend %pseudoabsolute;
        @extend %secondary-bg-color;
        transform: scaleY(0);
        @extend %basetransition1;
        border-radius: 4px;
    }
    &:hover:after {
        transform: scaleY(1);
    }
    &:hover {
        @extend %white-color;
    }
}

.inline-btn {
    color: #0b185f;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    @extend %uppercase;
    &:hover {
        @extend %primary-color;
    }
}