/*============== Footer CSS ================*/
.footer-area {
    background-color: #263238;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    font-size: 15px;
    // .single-footer-widget-item
    .single-footer-widget-item {
        @extend %white-color;
        h4 {
            @extend %white-color;
            font-size: 18px;
            margin-bottom: 25px;
            @extend %basetransition2;
        }
        .inline-btn {
            @extend %white-color;
            &:hover {
                @extend %primary-color;
            }
        }
        .single-recent-blog {
            padding-bottom: 20px;
            border-bottom: 1px solid #2E3B42;
            margin-bottom: 20px;
            &:last-child{
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            img {
                @extend %floarleft;
                margin-right: 20px;
                max-width: 80px;
            }
            h4 {
                font-size: 16px;
                font-weight: 500;
                margin: -3px 0 10px;
                line-height: 1.5;
            }
            a {
                @extend %white-color;
            }
            &:hover a, &:hover a h4 {
                @extend %primary-color;
            }
        }
        .subscription-form {
            input[type=email] {
                background: #263238;
                @extend %section-border-color;
                @extend %white-color;
                margin-bottom: 20px;
                &:focus{
                    @extend %primary-border-color;
                }
            }
            ::placeholder {
                color: #ffffff;
                opacity: 1;
            }
            :-ms-input-placeholder {
                color: #ffffff;
            }
            ::-ms-input-placeholder {
                color: #ffffff;
            }
            .boxed-btn {
                padding: 18px 25px;
                @extend %white-bg-color;
                @extend %primary-color;
                i {
                    margin-right: 10px;
                }
                &:hover:after {
                    @extend %primary-bg-color;
                }
                &:hover {
                    @extend %white-color;
                }
            }
        }
    }
    // .copyright-text 
    .copyright-text {
        padding: 30px 0;
        border-top: 1px solid #2C3940;
        @extend %white-color;
        margin-top: 90px;
    }
}
 

// scrollTop
.scrollTop {
    right: 2%;
    bottom: -40px;
    width: 40px;
    height: 40px;
    z-index: 9;
    @extend %posfixed;
    @extend %secondary-bg-color;
    @extend %displayblock;
    @extend %white-color;
    @extend %textcenter;
    @extend %basetransition2;
    @extend %invisible;
    font-size: 25px;
    line-height: 37px;
    @extend %borderradius5;
    &.scrollBtn{
        @extend %visible;
        bottom: 40px;
    }
    &:hover{
        @extend %white-color;
        @extend %primary-bg-color;
    }
}

