/*=============== Header CSS ==================*/
// .header-top-area
.header{
    height: 150px;
    @include all-below-med{
        height: 80px;
    }
}
// .header-top-area
.header-top-area {
    @extend %primary-bg-color;
    @extend %white-color;
    font-size: 15px;
    .header-contact-info {
        ul {
            li {
                padding: 14px 0 14px;
                border-right: 1px solid #ED737C;
                padding-right: 15px;
                margin-right: 15px;
                @extend %displayinline;
                @include mx-desktops{
                    padding-right: 10px;
                    margin-right: 10px;
                }
                a {
                    @extend %white-color;
                    @extend %basetransition1;
                }
                &:hover a {
                    @extend %secondary-color;
                }
                &:last-child {
                    @extend %borderzero;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .header-social-icons {
        a {
            border-right: 1px solid #ED737C;
            padding: 12px 0px 11px;
            @extend %displayinline;
            width: 48px;
            @extend %textcenter;
            @extend %white-color;
            @extend %basetransition1;
            font-size: 18px;
            &:hover {
                @extend %secondary-color;
            }
            &:first-child {
                border-left: 1px solid #ED737C;
            }
        }
    }
}
// .header-area
.header-area{
    @extend %white-bg-color;
    @include all-below-med{
        height: 80px;
        box-shadow: 0 -45px 30px 20px #000;
        .col-auto {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 auto;
            display: block !important;
            text-align: center;
            width: 250px;
            z-index: 99;
            @include all-mx-mobile {
                width: 200px;
            }
        }
        .col{
            height: 80px;
        }
        .site-logo{
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .header-search {
        width: 85px;
        @extend %primary-color;
        border-left: 1px solid $border-color;
        margin-left: 50px;
        @include mx-desktops{
            width: 75px;
            margin-left: 15px;
        }
        @include all-below-med{
            width: 60px;
            margin-left: 0px;
            border: 0;
        }
        @include all-below-mobile-lg{
            width: 50px;
        }
        span {
            width: 50px;
            height: 50px;
            border: 1px solid #F0F0F0;
            @extend %borderradius50;
            @extend %textcenter;
            line-height: 47px;
            font-size: 20px;
            @extend %cursorpointer;
            @include all-below-med{
                width: 42px;
                height: 42px;
                line-height: 40px;
                font-size: 18px;
            }
            i{
                @extend %visible; 
            }
            &.active{
                i{
                    @extend %invisible; 
                }
            }
        }
    }
    .header-cart {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        width: 75px;
        color: #E0E0E0;
        font-size: 30px;
        padding-top: 17px;
        @include mx-desktops{
            width: 65px;
        }
        @include all-below-med{
            width: 60px;
            font-size: 24px;
        }
        @include all-below-mobile-lg{
            border: 0;
            width: 40px;
            font-size: 22px;
        }
        .number {
            width: 24px;
            height: 24px;
            @extend %posabsolute;
            left: 5px;
            top: -10px;
            @extend %primary-bg-color;
            @extend %white-color;
            @extend %borderradius50;
            font-size: 14px;
            font-weight: 700;
            @extend %textcenter;
            line-height: 25px;
            @include all-below-med{
                width: 20px;
                height: 20px;
                top: -11px;
                font-size: 12px;;
                line-height: 22px;
            }
        }
    }
}
// .mainmenu
.mainmenu ul li {
    @extend %displayinline;
    @extend %posrelative;
}
.mainmenu ul li a {
    color: #0a1f44;
    @extend %uppercase;
    @extend %basetransition1;
    font-size: 14px;
    font-weight: 600;
    padding: 39px 14px 40px;
    @include mx-desktops{
        padding: 39px 8px 40px;
    }
}
.mainmenu ul li:hover > a {
    @extend %primary-color;
}

// Dropdown CSS
.mainmenu ul li ul {
    @extend %posabsolute;
    left: 0;
    top: 120px;
    width: 300px;
    @extend %white-bg-color;
    z-index: 99;
    @extend %invisible;
    @extend %basetransition3;
}
.mainmenu ul li ul ul {
    left: 100%;
    top: 45px;
    @extend %invisible;;
}
.mainmenu ul li:hover > ul {
    top: 100px;
    @extend %visible;
}
.mainmenu ul li ul li {
    @extend %displayblock;
    border-bottom: 1px solid $border-color;
    @extend %basetransition2;
}
.mainmenu ul li ul li a {
    padding: 12px 15px 12px;
    @extend %displayblock;
    text-transform: capitalize;
    font-size: 15px;
}
.mainmenu ul li ul li:hover > a {
    @extend %primary-bg-color;
    @extend %white-color;
}
.mainmenu ul li ul li:hover {
    border-color: $primary-color;
}
.mainmenu ul li ul li:last-child {
    border-bottom: 4px solid $primary-color;
}
.mainmenu ul li ul li:hover ul {
    top: 0;
}

// Sticky Header with smooth animation
.header-area {
    @include desktops{
        &.fixed {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            animation:slide-down 0.7s;
            z-index: 99;
            box-shadow: 0 -40px 20px 30px #000;
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                opacity: 1;
            }
        }
    }
    @include all-below-med{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 99;
    }
}
@keyframes slide-down {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        // opacity: 1;
        transform: translateY(0);
    } 
}

/* =======slicknav_menu======== */
.slicknav_menu {
    @extend %displaynone;
    @include all-below-med(){
        display: block;
        background: #ddd;
        position: fixed;
        left: 0;
        top: -10px;
        right: 0;
        width: 720px;
        z-index: 998;
        margin: 0 auto;
        height: 0;
        span.slicknav_menutxt {
            display: none;
        }
        .slicknav_btn {
            padding: 0;
            margin: 0px 11px 0 0;
            font-size: 30px;
            background: none;
            top: 32px;
            right: 15px;
            @include mobile-lg{
                margin: 0px -5px 0 0;
            }
            @include all-below-mobile-lg{
                // top: 34px;
                // right: 0;
            }
            &:hover{
                background: none;
            }
            // @include mx-mobile(){
            //     right: 0px;
            // };
            // @include mx-mobile-lg(){
            //     right: 63px;
            // };
        }
        .slicknav_icon {
            margin: 0;
            span {
                background-color: #262262;
                border-radius: 0px;
            }
        }
        .slicknav_nav {
            padding: 10px 0;
            background: #fff;
            position: absolute;
            left: 0;
            top: 90px;
            width: 100%;
            box-shadow: 0px 2px 20px -17px #000;
            @include all-below-mobile-lg{
                // top: 90px;
            }
            .slicknav_row {
                padding: 0;
                a{
                    padding: 10px 15px;
                    display: inline-block;
                }
            }
            .slicknav_row{
                border-radius: 0px;
                &:hover {
                    border-radius: 0px;
                }
            }
        }
        a {
            padding: 10px 15px;
            font-size: 16px;
            color: #000;
            border-radius: 0;
            &:hover {
                border-radius: 0;
            }
        }
        
        
    }
    @include all-below-mobile-lg(){
        width: 540px;
    };
    @include all-mx-mobile(){
        width: 100%;
    };
}


// .search-box-css
.search-box-wrap {
    .close-btn {
        @extend %posabsolute;
        @extend %primary-color;
        @extend %cursorpointer;
        @extend %textcenter;
        @extend %invisible;
        right: 16px;
        top: 26px;
        font-size: 24px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        &.active {
            @extend %visible;
        }
    }
    .search-box {
        @extend %posabsolute;
        @extend %textcenter;
        width: 350px;
        left: -267px;
        right: 0;
        bottom: -50px;
        background: #263238;
        padding: 8px 9px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        &.active{
            @extend %visible;
            bottom: -100px;
        }
        @include mx-mobile-lg{
            width: 350px;
        }
        @include all-mx-mobile{
            width: 350px;
        }
        input[type=text]{
            background-color: #263238;
            color: #f4f4f4;
            border-color: #F0F0F0;
            height: 50px;
            padding: 12px 63px 12px 15px;
            &:focus{
                border-color: #E8F0FE;
            }
        }
        button {
            @extend %posabsolute;
            @extend %white-color;
            @extend %primary-bg-color;
            height: 48px;
            border: 0;
            width: 50px;
            border-radius: 0 5px 5px 0;
            right: 10px;
            top: 9px;
            z-index: 999;
        }
    }
}

