/*==============Common CSS===================*/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #0a1f44;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
a, button, img, input, span {
    @extend %basetransition1; 
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    @extend %borderradius5;
    height: 55px;
    width: 100%;
    border: 1px solid transparent;
    @extend %white-bg-color;
    padding: 15px 20px;
    font-size: 16px;
    @include all-below-med{
        padding: 12px 20px;
        height: 50px;
    }
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, textarea:focus{
    @extend %primary-border-color;
}
.form-group {
    margin-bottom: 20px;
    // .form-control{
    //     &:focus {
    //         box-shadow: none;
    //         border-color: #2a7d2e;
    //     }
    //     &:hover {
    //         border-color: #2a7d2e;
    //     }
    // }
}
input[type=submit], button[type=submit]{
    cursor: pointer;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
input[type=submit], button[type=submit]{
    &:hover{
        
    }
}
textarea {
    height: 100px;
    padding: 15px 20px;
    width: 100%;
    // border: 1px solid transparent;
    transition: all .3s ease;
    // &:focus {
    //     border-color: #E8505B;
    // }
    // &:hover {
    //     border-color: #E8505B;
    // }
}
.section-padding-115-100{
    padding: 115px 0 100px;
    @include all-below-med{
        padding: 60px 0 50px;
    }
}
.stars {
    @extend %primary-color;
    span {
        margin-right: 1px;
    }
}

/*========.section-title=========*/ 
.section-title {
    h4{
        @extend %primary-color;
        @extend %uppercase;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 34px;
        margin-bottom: 40px;
        color: #0a1f44;
        @extend %capitalize;
        @include mx-desktops{
            font-size: 32px;
        }
        @include all-below-med{
            font-size: 28px;
            margin-bottom: 25px;
        }
    }
}

/*======.owl-dots customization=======*/
.owl-dots {
    @extend %textcenter;
    div {
        height: 5px;
        width: 5px;
        background-color: #BBBBBB;
        @extend %displayinline;
        margin: 0 5px;
        @extend %borderradius50percent;
        &.active {
            background-color: #0DA0F4;
        }
    }
}
    
/*=====owl nav customization======*/
.owl-nav div {
    @extend %displayinline;
    @extend %posabsolute;
    left: -10px;
    top: 50%;
    color: #2A7D2E;
    background-color: #fff;
    line-height: 60px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    font-size: 45px;
    padding-right: 5px;
    @extend %borderradius50;
    @extend %textcenter;
    @extend %basetransition1;
    &.owl-next {
        left: auto;
        right: -10px;
        padding-left: 5px;
        padding-right: 0;
    }
    &:hover {
        color: #ffffff;
        background-color: #2A7D2E;
    }
}


/*========.nice-select=============*/ 
.nice-select {
    @extend %w100;
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    border:  1px solid transparent;
    margin-bottom: 20px;
    font-size: 16px;
    @include all-below-med{
        height: 50px;
        line-height: 50px;
    }
    &:hover{
        border:  1px solid transparent;
    }
    &:focus{
        @extend %primary-border-color;
    }
    .list {
        width: 100%;
        box-shadow: none;
    }
    &:after{
        right: 25px;
        border-color: #999999;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        @extend %primary-border-color;
    }
}

// Social icons default color
.facebook{
    color: $facebook-color;
    &:hover{
        color: $facebook-color;
    }
}
.twitter{
    color: $twitter-color;
    &:hover{
        color: $twitter-color;
    }
}
.google-plus{
    color: $google-plus-color;
    &:hover{
        color: $google-plus-color;
    }
}
.vimeo{
    color: $vimeo-color;
    &:hover{
        color: $vimeo-color;
    }
}
.pinterest{
    color: $pinterest-color;
    &:hover{
        color: $pinterest-color;
    }
}


















