/*==============Common CSS===================*/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #0a1f44;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    @extend %borderradius5;
    height: 55px;
    width: 100%;
    border: 1px solid transparent;
    @extend %white-bg-color;
    padding: 15px 20px;
    font-size: 16px;
    @extend %basetransition1;
    @include all-below-med{
        padding: 12px 20px;
        height: 50px;
    }
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, textarea:focus{
    @extend %primary-border-color;
}
// .single-form-item
.single-form-item {
    margin-bottom: 20px;
    height: 55px;
    @include all-below-med{
        height: 50px;
    }
    &.textarea{
        height: 100px;
    }
}
input[type=submit], button[type=submit]{
    cursor: pointer;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
textarea {
    height: 100px;
    padding: 15px 20px;
    width: 100%;
}
.section-padding-115-100{
    padding: 115px 0 100px;
    @include all-below-med{
        padding: 60px 0 50px;
    }
}
.stars {
    @extend %primary-color;
    span {
        margin-right: 1px;
    }
}

/*========.section-title=========*/ 
.section-title {
    h4{
        @extend %primary-color;
        @extend %uppercase;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 10px;
        @include all-below-med{
            font-size: 18px;
        }
    }
    h2{
        font-size: 34px;
        margin-bottom: 40px;
        color: #0a1f44;
        @extend %capitalize;
        @include mx-desktops{
            font-size: 32px;
        }
        @include all-below-med{
            font-size: 28px;
            margin-bottom: 25px;
        }
    }
}

/*======.owl-dots customization=======*/
// .owl-dots {
//     @extend %textcenter;
//     div {
//         height: 5px;
//         width: 5px;
//         background-color: #BBBBBB;
//         @extend %displayinline;
//         margin: 0 5px;
//         @extend %borderradius50percent;
//         &.active {
//             background-color: #0DA0F4;
//         }
//     }
// }
    
/*=====owl nav customization======*/
// .owl-nav div {
//     left: 20px;
//     top: 50%;
//     line-height: 54px;
//     margin-top: -25px;
//     width: 50px;
//     height: 50px;
//     font-size: 30px;
//     padding-right: 2px;
//     @extend %displayinline;
//     @extend %posabsolute;
//     @extend %white-bg-color;
//     @extend %body-color;
//     @extend %borderradius50;
//     @extend %textcenter;
//     @extend %basetransition1;
//     &.owl-next {
//         left: auto;
//         right: 20px;
//         padding-right: 0;
//         padding-left: 5px;
//     }
//     &:hover {
//         color: #ffffff;
//         @extend %primary-bg-color;
//     }
// }
/*=====slick arrow======*/
.slick-arrow {
    height: 66px;
    line-height: 78px;
    width: 26px;
    top: 50%;
    margin-top: -33px;
    background-color: #BECCC5;
    font-size: 20px;
    @extend %white-color;
    @extend %cursorpointer;
    @extend %basetransition1;
    &:hover{
        @extend %primary-bg-color;
    }
    i {
        transform: rotate(-90deg);
        @extend %posabsolute;
        @extend %textcenter;
        top: 50%;
        left: 7px;
        margin-top: -12px;
        font-size: 24px;
        @include mx-desktops{
            // margin-top: -7px;
        }
    }
}
.arrow-right {
    right: 0;
    @extend %posabsolute;
    z-index: 2;
}
.arrow-left {
    left: 0;
    @extend %posabsolute;
    z-index: 2;
}
// .video-btn 
.video-btn {
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    font-size: 25px;
    line-height: 80px;
    padding-left: 8px;
    margin-top: -40px;
    @extend %white-bg-color;
    @extend %primary-color;
    @extend %posabsolute;
    @extend %basetransition2;
    @extend %textcenter;
    @extend %borderradius50;
    &:hover {
        @extend %primary-bg-color;
        @extend %white-color;
    }
}

//.pagination-wrap
.pagination-wrap {
    padding: 30px 0 40px;
    ul {
        li {
            @extend %displayinline;
            margin: 0 5px;
            @include all-mx-mobile{
                margin: 0 3px;
            }
            a {
                color: #2f2838;
                font-weight: 700;
                border: 1px solid #F0F7FF;
                width: 45px;
                height: 45px;
                line-height: 45px;
                @extend %borderradius50;
                @extend %displayblock;
                @extend %basetransition1;
                @include all-mx-mobile{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
            &:hover a {
                @extend %primary-border-color;
                @extend %primary-bg-color;
                @extend %white-color;
            }
        }
    }
}

/*========.nice-select=============*/ 
.nice-select {
    @extend %w100;
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    border:  1px solid transparent;
    margin-bottom: 20px;
    font-size: 16px;
    @include all-below-med{
        height: 50px;
        line-height: 50px;
    }
    &:hover{
        border:  1px solid transparent;
    }
    &:focus{
        @extend %primary-border-color;
    }
    .list {
        width: 100%;
        box-shadow: none;
        border: 1px solid #f0f0f0;
    }
    &:after{
        right: 25px;
        border-color: #999999;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        @extend %primary-border-color;
    }
}

// Social icons default color
.facebook{
    color: $facebook-color;
    &:hover{
        color: $facebook-color;
    }
}
.twitter{
    color: $twitter-color;
    &:hover{
        color: $twitter-color;
    }
}
.google-plus{
    color: $google-plus-color;
    &:hover{
        color: $google-plus-color;
    }
}
.vimeo{
    color: $vimeo-color;
    &:hover{
        color: $vimeo-color;
    }
}
.pinterest{
    color: $pinterest-color;
    &:hover{
        color: $pinterest-color;
    }
}
.dribble{
    color: $dribble-color;
    &:hover{
        color: $dribble-color;
    }
}
.behance{
    color: $behance-color;
    &:hover{
        color: $behance-color;
    }
}
.instagram{
    color: $instagram-color;
    &:hover{
        color: $instagram-color;
    }
}


















